Lesson3/lesson3.json
[ {
  "flowContents" : {
    "identifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
    "instanceIdentifier" : "2816f76d-0194-1000-fd70-65554e109b9a",
    "name" : "lesson3",
    "comments" : "Меняем один атрибут записи по значению другого",
    "position" : {
      "x" : -40.0,
      "y" : -352.0
    },
    "processGroups" : [ ],
    "remoteProcessGroups" : [ ],
    "processors" : [ {
      "identifier" : "7b9114e4-f840-38cf-ae57-9c5ba1f781c2",
      "instanceIdentifier" : "2849a728-0194-1000-5adc-39db3c7187e6",
      "name" : "UpdateRecord",
      "comments" : "",
      "position" : {
        "x" : 16.0,
        "y" : 152.0
      },
      "type" : "org.apache.nifi.processors.standard.UpdateRecord",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-standard-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "/attr2" : "replace(replaceRegex(/attr1, \"pause|halt\", \"x\"), /attr1, /attr2)",
        "Record Writer" : "05d9443f-afdd-323b-9032-07a9b521ed3b",
        "Record Reader" : "d3e59fa6-c756-37fd-9d79-0b7ef576eeae",
        "Replacement Value Strategy" : "record-path-value"
      },
      "propertyDescriptors" : {
        "/attr2" : {
          "name" : "/attr2",
          "displayName" : "/attr2",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : true
        },
        "Record Writer" : {
          "name" : "Record Writer",
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Record Reader" : {
          "name" : "Record Reader",
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Replacement Value Strategy" : {
          "name" : "Replacement Value Strategy",
          "displayName" : "Replacement Value Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "failure" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "110e11eb-20db-3506-9392-680d4663a659",
      "instanceIdentifier" : "2898863c-0194-1000-79ff-a341a6d3523b",
      "name" : "ScriptedTransformRecord",
      "comments" : "",
      "position" : {
        "x" : 16.0,
        "y" : 288.0
      },
      "type" : "org.apache.nifi.processors.script.ScriptedTransformRecord",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-scripting-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "Script File" : null,
        "Script Engine" : "Groovy",
        "Script Body" : "def attr1Value = record.getValue(\"attr1\")\n\nif (attr1Value == \"halt\" || attr1Value == \"pause\") {\n    record.setValue(\"attr2\", \"x\")\n}\n\nreturn record",
        "Record Writer" : "05d9443f-afdd-323b-9032-07a9b521ed3b",
        "Record Reader" : "d3e59fa6-c756-37fd-9d79-0b7ef576eeae",
        "Module Directory" : null
      },
      "propertyDescriptors" : {
        "Script File" : {
          "name" : "Script File",
          "displayName" : "Script File",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          }
        },
        "Script Engine" : {
          "name" : "Script Engine",
          "displayName" : "Script Language",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Script Body" : {
          "name" : "Script Body",
          "displayName" : "Script Body",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Record Writer" : {
          "name" : "Record Writer",
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Record Reader" : {
          "name" : "Record Reader",
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Module Directory" : {
          "name" : "Module Directory",
          "displayName" : "Module Directory",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          }
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "failure" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "7cea1f35-55f1-34fd-a4eb-99d423fc4cea",
      "instanceIdentifier" : "2818939d-0194-1000-1b96-78671aff5324",
      "name" : "JoltTransformRecord",
      "comments" : "",
      "position" : {
        "x" : 16.0,
        "y" : -272.0
      },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformRecord",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-jolt-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "jolt-record-record-writer" : "05d9443f-afdd-323b-9032-07a9b521ed3b",
        "Jolt Transform" : "jolt-transform-chain",
        "Transform Cache Size" : "1",
        "Custom Transformation Class Name" : null,
        "Custom Module Directory" : null,
        "Jolt Specification" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"attr1\": {\n        \"pause|halt\": {\n          \"@1\": \"&2\",\n          \"#x\": \"attr2\"\n        },\n        \"*\": {\n          \"@1\": \"&2\",\n          \"@(3,attr2)\": \"attr2\"\n        }\n      }\n    }\n  }\n]\n",
        "jolt-record-record-reader" : "d3e59fa6-c756-37fd-9d79-0b7ef576eeae"
      },
      "propertyDescriptors" : {
        "jolt-record-record-writer" : {
          "name" : "jolt-record-record-writer",
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Jolt Transform" : {
          "name" : "Jolt Transform",
          "displayName" : "Jolt Transform",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Transform Cache Size" : {
          "name" : "Transform Cache Size",
          "displayName" : "Transform Cache Size",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Custom Transformation Class Name" : {
          "name" : "Custom Transformation Class Name",
          "displayName" : "Custom Transformation Class Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Custom Module Directory" : {
          "name" : "Custom Module Directory",
          "displayName" : "Custom Module Directory",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          }
        },
        "Jolt Specification" : {
          "name" : "Jolt Specification",
          "displayName" : "Jolt Specification",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT", "FILE" ]
          }
        },
        "jolt-record-record-reader" : {
          "name" : "jolt-record-record-reader",
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "97d04f9d-0152-3c49-9b07-e7532682ce01",
      "instanceIdentifier" : "282ecce6-0194-1000-ab1f-95a1e55ddb90",
      "name" : "JSLTTransformJSON",
      "comments" : "",
      "position" : {
        "x" : 16.0,
        "y" : -136.0
      },
      "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-jslt-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "jslt-transform-pretty_print" : "false",
        "jslt-transform-result-filter" : ". != null and . != {} and . != []",
        "jslt-transform-transformation" : "[\n for (.)\n  {\n   \"attr1\": .attr1,\n   \"attr2\":  if (.attr1 == \"pause\" or .attr1 == \"halt\") \"x\" else .attr2\n  }\n]",
        "jslt-transform-cache-size" : "1",
        "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
      },
      "propertyDescriptors" : {
        "jslt-transform-pretty_print" : {
          "name" : "jslt-transform-pretty_print",
          "displayName" : "Pretty Print",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "jslt-transform-result-filter" : {
          "name" : "jslt-transform-result-filter",
          "displayName" : "Transform Result Filter",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "jslt-transform-transformation" : {
          "name" : "jslt-transform-transformation",
          "displayName" : "JSLT Transformation",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT", "FILE" ]
          }
        },
        "jslt-transform-cache-size" : {
          "name" : "jslt-transform-cache-size",
          "displayName" : "Transform Cache Size",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "jslt-transform-transformation-strategy" : {
          "name" : "jslt-transform-transformation-strategy",
          "displayName" : "Transformation Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "failure" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "f31cc0e7-7fc6-30b2-acee-e6ac6678969f",
      "instanceIdentifier" : "28179f01-0194-1000-9a9a-7d3b60096c3d",
      "name" : "GenerateFlowFile",
      "comments" : "",
      "position" : {
        "x" : -696.0,
        "y" : 80.0
      },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-standard-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "mime-type" : "application/json",
        "generate-ff-custom-text" : "[\n{\"attr1\":\"start\",\"attr2\":\"B\"},\n{\"attr1\":\"pause\",\"attr2\":\"Y\"},\n{\"attr1\":\"halt\",\"attr2\":\"Y\"}\n]",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "name" : "character-set",
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "File Size" : {
          "name" : "File Size",
          "displayName" : "File Size",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "mime-type" : {
          "name" : "mime-type",
          "displayName" : "Mime Type",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "generate-ff-custom-text" : {
          "name" : "generate-ff-custom-text",
          "displayName" : "Custom Text",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Batch Size" : {
          "name" : "Batch Size",
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Unique FlowFiles" : {
          "name" : "Unique FlowFiles",
          "displayName" : "Unique FlowFiles",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Data Format" : {
          "name" : "Data Format",
          "displayName" : "Data Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ ],
      "scheduledState" : "DISABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "5ce8f017-2c1f-3cdd-bd9f-d96bb91bc17f",
      "instanceIdentifier" : "2846d1ae-0194-1000-801f-328fbe349e9f",
      "name" : "QueryRecord",
      "comments" : "",
      "position" : {
        "x" : 16.0,
        "y" : 8.0
      },
      "type" : "org.apache.nifi.processors.standard.QueryRecord",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-standard-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "dbf-default-precision" : "10",
        "record-writer" : "05d9443f-afdd-323b-9032-07a9b521ed3b",
        "record-reader" : "d3e59fa6-c756-37fd-9d79-0b7ef576eeae",
        "include-zero-record-flowfiles" : "true",
        "dbf-default-scale" : "0",
        "out" : "select \nattr1, \ncase when attr1 in ('pause', 'halt') then 'x' else attr2 end as attr2\nfrom flowfile "
      },
      "propertyDescriptors" : {
        "dbf-default-precision" : {
          "name" : "dbf-default-precision",
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "record-writer" : {
          "name" : "record-writer",
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "record-reader" : {
          "name" : "record-reader",
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "include-zero-record-flowfiles" : {
          "name" : "include-zero-record-flowfiles",
          "displayName" : "Include Zero Record FlowFiles",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "dbf-default-scale" : {
          "name" : "dbf-default-scale",
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "out" : {
          "name" : "out",
          "displayName" : "out",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : true
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "637c795f-d69c-3d80-9477-b3730d3ff9d3",
      "instanceIdentifier" : "289d5763-0194-1000-807c-1652393ac5b4",
      "name" : "ExecuteGroovyScript",
      "comments" : "",
      "position" : {
        "x" : 16.0,
        "y" : 432.0
      },
      "type" : "org.apache.nifi.processors.groovyx.ExecuteGroovyScript",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-groovyx-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "groovyx-script-body" : "import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport org.apache.nifi.processor.io.StreamCallback\n\ndef flowFile = session.get()\nif (!flowFile) return\n\nString myAttr = myAttr.value\n\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    // Читаем весь входной поток как JSON-массив\n    def jsonSlurper = new JsonSlurper()\n    def jsonArray = jsonSlurper.parse(inputStream)\n\n    // Обрабатываем каждый объект в массиве\n    def processedArray = jsonArray.collect { parsedJson ->\n        if ([\"pause\", \"halt\"].contains(parsedJson.attr1)) {\n            parsedJson.attr2 = myAttr\n        }\n        parsedJson\n    }\n\n    // Записываем обработанный массив в выходной поток\n    outputStream.withWriter(\"UTF-8\") { writer ->\n        writer.write(JsonOutput.toJson(processedArray))\n    }\n} as StreamCallback)\n\nsession.transfer(flowFile, REL_SUCCESS)",
        "groovyx-failure-strategy" : "rollback",
        "groovyx-additional-classpath" : null,
        "myAttr" : "x",
        "groovyx-script-file" : null
      },
      "propertyDescriptors" : {
        "groovyx-script-body" : {
          "name" : "groovyx-script-body",
          "displayName" : "Script Body",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "groovyx-failure-strategy" : {
          "name" : "groovyx-failure-strategy",
          "displayName" : "Failure strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "groovyx-additional-classpath" : {
          "name" : "groovyx-additional-classpath",
          "displayName" : "Additional classpath",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "myAttr" : {
          "name" : "myAttr",
          "displayName" : "myAttr",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : true
        },
        "groovyx-script-file" : {
          "name" : "groovyx-script-file",
          "displayName" : "Script File",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          }
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "failure" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    } ],
    "inputPorts" : [ ],
    "outputPorts" : [ ],
    "connections" : [ {
      "identifier" : "dbd40bea-59d0-3cca-a9a9-269dd4877e69",
      "instanceIdentifier" : "2818cdaf-0194-1000-b9f5-1879b7a2af92",
      "name" : "",
      "source" : {
        "id" : "7cea1f35-55f1-34fd-a4eb-99d423fc4cea",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "JoltTransformRecord",
        "comments" : "",
        "instanceIdentifier" : "2818939d-0194-1000-1b96-78671aff5324"
      },
      "destination" : {
        "id" : "910d555c-5653-321c-9eb9-0dc414b55f6c",
        "type" : "FUNNEL",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "2818b908-0194-1000-c2e4-11f8c499cf97"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "7f5a4a31-448c-3df7-85c3-bed8b87c4cb6",
      "instanceIdentifier" : "2818ad73-0194-1000-821b-7add6fd1b8e4",
      "name" : "",
      "source" : {
        "id" : "f31cc0e7-7fc6-30b2-acee-e6ac6678969f",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "GenerateFlowFile",
        "comments" : "",
        "instanceIdentifier" : "28179f01-0194-1000-9a9a-7d3b60096c3d"
      },
      "destination" : {
        "id" : "7cea1f35-55f1-34fd-a4eb-99d423fc4cea",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "JoltTransformRecord",
        "comments" : "",
        "instanceIdentifier" : "2818939d-0194-1000-1b96-78671aff5324"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "a1f1caf9-8b66-343e-9366-6ae326b0eeb0",
      "instanceIdentifier" : "284892b3-0194-1000-c970-93515c18b8f0",
      "name" : "",
      "source" : {
        "id" : "5ce8f017-2c1f-3cdd-bd9f-d96bb91bc17f",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "QueryRecord",
        "comments" : "",
        "instanceIdentifier" : "2846d1ae-0194-1000-801f-328fbe349e9f"
      },
      "destination" : {
        "id" : "841af758-df78-3f8c-9abd-8beb18f38aec",
        "type" : "FUNNEL",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "2846f43c-0194-1000-6136-0d50fda95cba"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "out" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "14977e0c-a880-3046-9f10-c303247803e3",
      "instanceIdentifier" : "289d8016-0194-1000-dd0f-46cd5ebafffa",
      "name" : "",
      "source" : {
        "id" : "637c795f-d69c-3d80-9477-b3730d3ff9d3",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "ExecuteGroovyScript",
        "comments" : "",
        "instanceIdentifier" : "289d5763-0194-1000-807c-1652393ac5b4"
      },
      "destination" : {
        "id" : "ea4e9518-ab63-3d47-8c36-a793179a836b",
        "type" : "FUNNEL",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "289d6f8a-0194-1000-77d7-5d336a7721ae"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "d61473ec-4170-3286-b02b-7830f49610ea",
      "instanceIdentifier" : "2898bad0-0194-1000-c156-da4e0f00ffcb",
      "name" : "",
      "source" : {
        "id" : "110e11eb-20db-3506-9392-680d4663a659",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "ScriptedTransformRecord",
        "comments" : "",
        "instanceIdentifier" : "2898863c-0194-1000-79ff-a341a6d3523b"
      },
      "destination" : {
        "id" : "53c9412b-0128-3d52-a9fa-c921523845ed",
        "type" : "FUNNEL",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "2898a764-0194-1000-6dae-6f5de3257fa6"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "7d5f4612-6a42-3aa0-a7a9-86eed2a37175",
      "instanceIdentifier" : "2846e70b-0194-1000-862b-28cc9758af57",
      "name" : "",
      "source" : {
        "id" : "f31cc0e7-7fc6-30b2-acee-e6ac6678969f",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "GenerateFlowFile",
        "comments" : "",
        "instanceIdentifier" : "28179f01-0194-1000-9a9a-7d3b60096c3d"
      },
      "destination" : {
        "id" : "5ce8f017-2c1f-3cdd-bd9f-d96bb91bc17f",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "QueryRecord",
        "comments" : "",
        "instanceIdentifier" : "2846d1ae-0194-1000-801f-328fbe349e9f"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "33cefc10-1ec2-30e1-9a13-deb67978be37",
      "instanceIdentifier" : "2849bd3f-0194-1000-05db-7b90574ccc89",
      "name" : "",
      "source" : {
        "id" : "f31cc0e7-7fc6-30b2-acee-e6ac6678969f",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "GenerateFlowFile",
        "comments" : "",
        "instanceIdentifier" : "28179f01-0194-1000-9a9a-7d3b60096c3d"
      },
      "destination" : {
        "id" : "7b9114e4-f840-38cf-ae57-9c5ba1f781c2",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "UpdateRecord",
        "comments" : "",
        "instanceIdentifier" : "2849a728-0194-1000-5adc-39db3c7187e6"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "e18f3371-40f8-34c5-a2ce-8669206c75de",
      "instanceIdentifier" : "289d9c7b-0194-1000-9b26-65a061208fc8",
      "name" : "",
      "source" : {
        "id" : "f31cc0e7-7fc6-30b2-acee-e6ac6678969f",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "GenerateFlowFile",
        "comments" : "",
        "instanceIdentifier" : "28179f01-0194-1000-9a9a-7d3b60096c3d"
      },
      "destination" : {
        "id" : "637c795f-d69c-3d80-9477-b3730d3ff9d3",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "ExecuteGroovyScript",
        "comments" : "",
        "instanceIdentifier" : "289d5763-0194-1000-807c-1652393ac5b4"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "d634b28f-5efe-3fbb-8731-921a1667ecb1",
      "instanceIdentifier" : "28989d30-0194-1000-592d-b7831bcd78b6",
      "name" : "",
      "source" : {
        "id" : "f31cc0e7-7fc6-30b2-acee-e6ac6678969f",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "GenerateFlowFile",
        "comments" : "",
        "instanceIdentifier" : "28179f01-0194-1000-9a9a-7d3b60096c3d"
      },
      "destination" : {
        "id" : "110e11eb-20db-3506-9392-680d4663a659",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "ScriptedTransformRecord",
        "comments" : "",
        "instanceIdentifier" : "2898863c-0194-1000-79ff-a341a6d3523b"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "5d4f8588-551e-3250-ac33-794ba536c668",
      "instanceIdentifier" : "282edefb-0194-1000-4679-335ab46e755a",
      "name" : "",
      "source" : {
        "id" : "f31cc0e7-7fc6-30b2-acee-e6ac6678969f",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "GenerateFlowFile",
        "comments" : "",
        "instanceIdentifier" : "28179f01-0194-1000-9a9a-7d3b60096c3d"
      },
      "destination" : {
        "id" : "97d04f9d-0152-3c49-9b07-e7532682ce01",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "JSLTTransformJSON",
        "comments" : "",
        "instanceIdentifier" : "282ecce6-0194-1000-ab1f-95a1e55ddb90"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "f2780815-3778-3e60-ac15-d5faa8dab521",
      "instanceIdentifier" : "282efed5-0194-1000-3549-31065aeb3972",
      "name" : "",
      "source" : {
        "id" : "97d04f9d-0152-3c49-9b07-e7532682ce01",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "JSLTTransformJSON",
        "comments" : "",
        "instanceIdentifier" : "282ecce6-0194-1000-ab1f-95a1e55ddb90"
      },
      "destination" : {
        "id" : "68dd90c5-dba5-3ffe-91db-70e7975b668f",
        "type" : "FUNNEL",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "282eec3f-0194-1000-fd2e-bf7dafcc4165"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "a97e6b7b-00a0-338b-aa1e-ab7a3411bde7",
      "instanceIdentifier" : "2849dc95-0194-1000-26eb-001b71b4ab67",
      "name" : "",
      "source" : {
        "id" : "7b9114e4-f840-38cf-ae57-9c5ba1f781c2",
        "type" : "PROCESSOR",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "UpdateRecord",
        "comments" : "",
        "instanceIdentifier" : "2849a728-0194-1000-5adc-39db3c7187e6"
      },
      "destination" : {
        "id" : "5ec440c0-7a27-3535-b652-cd80c77c6fcb",
        "type" : "FUNNEL",
        "groupId" : "e26d70ae-424d-371f-b7ab-cdb18b417179",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "2849c991-0194-1000-fe36-be9391192219"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    } ],
    "labels" : [ ],
    "funnels" : [ {
      "identifier" : "68dd90c5-dba5-3ffe-91db-70e7975b668f",
      "instanceIdentifier" : "282eec3f-0194-1000-fd2e-bf7dafcc4165",
      "position" : {
        "x" : 696.9375,
        "y" : -105.0
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "910d555c-5653-321c-9eb9-0dc414b55f6c",
      "instanceIdentifier" : "2818b908-0194-1000-c2e4-11f8c499cf97",
      "position" : {
        "x" : 696.9375,
        "y" : -232.0
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "53c9412b-0128-3d52-a9fa-c921523845ed",
      "instanceIdentifier" : "2898a764-0194-1000-6dae-6f5de3257fa6",
      "position" : {
        "x" : 696.9375,
        "y" : 327.0
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "ea4e9518-ab63-3d47-8c36-a793179a836b",
      "instanceIdentifier" : "289d6f8a-0194-1000-77d7-5d336a7721ae",
      "position" : {
        "x" : 696.9375,
        "y" : 479.0
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "5ec440c0-7a27-3535-b652-cd80c77c6fcb",
      "instanceIdentifier" : "2849c991-0194-1000-fe36-be9391192219",
      "position" : {
        "x" : 696.9375,
        "y" : 195.12073170731708
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "841af758-df78-3f8c-9abd-8beb18f38aec",
      "instanceIdentifier" : "2846f43c-0194-1000-6136-0d50fda95cba",
      "position" : {
        "x" : 696.9375,
        "y" : 49.5
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    } ],
    "controllerServices" : [ {
      "identifier" : "05d9443f-afdd-323b-9032-07a9b521ed3b",
      "instanceIdentifier" : "2819bc54-0194-1000-d391-eb947672f7b9",
      "name" : "JsonRecordSetWriter",
      "comments" : "",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "schema-reference-reader" : null,
        "schema-branch" : null,
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "schema-cache" : null,
        "Timestamp Format" : null,
        "Date Format" : null,
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-registry" : null,
        "Time Format" : null,
        "schema-access-strategy" : "inherit-record-schema",
        "schema-version" : null,
        "schema-text" : "${avro.schema}",
        "Schema Reference Writer" : null
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "name" : "schema-reference-reader",
          "displayName" : "Schema Reference Reader",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Allow Scientific Notation" : {
          "name" : "Allow Scientific Notation",
          "displayName" : "Allow Scientific Notation",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "compression-level" : {
          "name" : "compression-level",
          "displayName" : "Compression Level",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-cache" : {
          "name" : "schema-cache",
          "displayName" : "Schema Cache",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Pretty Print JSON" : {
          "name" : "Pretty Print JSON",
          "displayName" : "Pretty Print JSON",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "compression-format" : {
          "name" : "compression-format",
          "displayName" : "Compression Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Schema Write Strategy" : {
          "name" : "Schema Write Strategy",
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "suppress-nulls" : {
          "name" : "suppress-nulls",
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "output-grouping" : {
          "name" : "output-grouping",
          "displayName" : "Output Grouping",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Schema Reference Writer" : {
          "name" : "Schema Reference Writer",
          "displayName" : "Schema Reference Writer",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "2.1.0"
        }
      } ],
      "scheduledState" : "DISABLED",
      "bulletinLevel" : "WARN",
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    }, {
      "identifier" : "d3e59fa6-c756-37fd-9d79-0b7ef576eeae",
      "instanceIdentifier" : "28198780-0194-1000-1f11-42860a51ef11",
      "name" : "JsonTreeReader",
      "comments" : "",
      "type" : "org.apache.nifi.json.JsonTreeReader",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "schema-reference-reader" : null,
        "schema-branch" : null,
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "Timestamp Format" : null,
        "schema-inference-cache" : null,
        "Date Format" : null,
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "schema-registry" : null,
        "starting-field-name" : null,
        "Time Format" : null,
        "schema-access-strategy" : "infer-schema",
        "schema-version" : null,
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "name" : "schema-reference-reader",
          "displayName" : "Schema Reference Reader",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Max String Length" : {
          "name" : "Max String Length",
          "displayName" : "Max String Length",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-application-strategy" : {
          "name" : "schema-application-strategy",
          "displayName" : "Schema Application Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-inference-cache" : {
          "name" : "schema-inference-cache",
          "displayName" : "Schema Inference Cache",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "starting-field-strategy" : {
          "name" : "starting-field-strategy",
          "displayName" : "Starting Field Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "starting-field-name" : {
          "name" : "starting-field-name",
          "displayName" : "Starting Field Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Allow Comments" : {
          "name" : "Allow Comments",
          "displayName" : "Allow Comments",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordReaderFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "2.1.0"
        }
      } ],
      "scheduledState" : "DISABLED",
      "bulletinLevel" : "WARN",
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "e26d70ae-424d-371f-b7ab-cdb18b417179"
    } ],
    "defaultFlowFileExpiration" : "0 sec",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "scheduledState" : "ENABLED",
    "executionEngine" : "INHERITED",
    "maxConcurrentTasks" : 1,
    "statelessFlowTimeout" : "1 min",
    "componentType" : "PROCESS_GROUP",
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices" : { },
  "parameterContexts" : { },
  "flowEncodingVersion" : "1.0",
  "parameterProviders" : { },
  "latest" : false
} ]