Intermediate/Weather/Weather.json
{"flowContents":{"identifier":"c62b0715-3f19-3612-900d-258abf44ab0b","instanceIdentifier":"1ea6ab12-0199-1000-ed2e-42134005fcd7","name":"Weather","comments":"","position":{"x":816.0,"y":432.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ac82ed8e-fbb8-3ee6-a6bb-20a0e1f182d6","instanceIdentifier":"1f4b82f7-0199-1000-9dbb-520db96ad080","name":"InvokeHTTP","comments":"","position":{"x":-296.0,"y":416.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.telegram.org/bot#{CONF.TG.TOKEN}/sendMessage","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"0d31a838-b42e-3098-892d-00b79a2b3755","instanceIdentifier":"1eadb914-0199-1000-a03f-bde6660f8125","name":"QueryRecord","comments":"","position":{"x":-296.0,"y":144.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"dbf-default-precision":"10","data":"SELECT *\nFROM FLOWFILE\nWHERE \"time\" >= '${my.tomorrow.utc}'\nAND (\"time\" LIKE '%T06:00' OR \"time\" LIKE '%T12:00' OR \"time\" LIKE '%T15:00')","record-writer":"cacfd2dd-417f-316c-9c2e-e912ae4c0caf","record-reader":"5cfc6c9e-d2b5-3cf4-9b28-f30fc4eaf3d1","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"eda2b4a9-3e7a-3e5b-86bf-4c07e357a123","instanceIdentifier":"1eac2295-0199-1000-8b56-4b8fd87d03de","name":"JSLTTransformJSON","comments":"","position":{"x":-296.0,"y":8.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.6.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"let temperature_2m = [for (.hourly.temperature_2m) .]\nlet precipitation_probability = [for (.hourly.precipitation_probability) .]\nlet precipitation = [for (.hourly.precipitation) .]\nlet weather_code = [for (.hourly.weather_code) .]\nlet weather_codes = #{CONF.WEATHER_CODES}\n\n[for (zip-with-index(.hourly.time)) \n{\n  \"id\": string(.index),\n  \"time\": .value,\n  \"temperature_2m\": $temperature_2m[.index],\n  \"precipitation_probability\": $precipitation_probability[.index],\n  \"precipitation\": $precipitation[.index],\n  \"weather_description\": get-key($weather_codes, string($weather_code[.index]), \"N/A\")\n}\n]","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"EACH_OBJECT"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"f0cb3692-af77-3bb1-9268-a10ab510e05c","instanceIdentifier":"1ea6e199-0199-1000-0398-8bbc27d8e1b9","name":"GenerateFlowFile","comments":"","position":{"x":-296.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"character-set":"UTF-8","my.tomorrow.utc":"${now():plus(86400000):format(\"yyyy-MM-dd'T'00:00\", \"UTC\")}","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":null,"my.now.utc":"${now():format(\"yyyy-MM-dd'T'HH:mm\", \"UTC\")}","Batch Size":"1","Unique FlowFiles":"false","my.header":"<b>Прогноз погоды на завтра</b>\n","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"my.tomorrow.utc":{"name":"my.tomorrow.utc","displayName":"my.tomorrow.utc","identifiesControllerService":false,"sensitive":false,"dynamic":true},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"my.now.utc":{"name":"my.now.utc","displayName":"my.now.utc","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"my.header":{"name":"my.header","displayName":"my.header","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"bf4d19e7-e68e-3b5d-a4ce-d75523ee157a","instanceIdentifier":"1f22e3fb-0199-1000-73f9-1977067a1377","name":"csv -> html","comments":"","position":{"x":-296.0,"y":280.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.6.0"},"properties":{"groovyx-script-body":"import java.nio.charset.StandardCharsets\nimport org.apache.nifi.processor.io.StreamCallback\nimport java.util.Date\nimport java.text.SimpleDateFormat\nimport java.util.TimeZone\nimport groovy.json.JsonBuilder\n\ndef flowFile = session.get()\nif(!flowFile) return\n\n// Получаем динамическое свойство процессора\ndef propertyName = 'local_time_zone'\ndef propertyValue = context.getProperty(propertyName)?.getValue()\ndef localTimeZone = propertyValue ?: 'Europe/Rome'\n\n// Получаем заголовок из атрибута flowfile\ndef headerText = flowFile.getAttribute('my.header') ?: ''\n\ndef htmlText = \"\"\n\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    def csvText = inputStream.getText('UTF-8')\n    def lines = csvText.trim().split('\\n')\n    \n    def htmlBuilder = new StringBuilder()\n    \n    // Добавляем заголовок, если он есть\n    if (headerText) {\n        htmlBuilder.append(\"<b>${headerText}</b>\\n\")\n    }\n    \n    // Форматтеры для парсинга UTC и вывода в местном времени\n    def utcFormat = new SimpleDateFormat(\"yyyy-MM-dd'T'HH:mm\")\n    utcFormat.setTimeZone(TimeZone.getTimeZone(\"UTC\"))\n    \n    def localFormat = new SimpleDateFormat(\"dd.MM.yy 'в' HH:mm\")\n    localFormat.setTimeZone(TimeZone.getTimeZone(localTimeZone))\n    \n    lines.each { line ->\n        def parts = line.split(';')\n        if (parts.length >= 6) {\n            def datetime = parts[1] \n            def temp = parts[2]\n            def precipProb = parts[3]  \n            def precipAmount = parts[4]\n            def weatherDescription = parts[5]\n            \n            // Конвертируем время\n            def utcDate = utcFormat.parse(datetime)\n            def formattedDate = localFormat.format(utcDate)\n            \n            htmlBuilder.append(\"<b>\uD83D\uDD50 ${formattedDate}</b>\\n\")\n            htmlBuilder.append(\"\uD83C\uDF21️ Температура: <b>${temp}°C</b>\\n\")\n            htmlBuilder.append(\"\uD83D\uDCA7 Осадки: <b>${precipProb}%</b>\")\n            \n            if (precipAmount != \"0.0\") {\n                htmlBuilder.append(\" (${precipAmount}мм)\")\n            }\n            htmlBuilder.append(\"\\n\")\n            htmlBuilder.append(\"<i>${weatherDescription}</i>\\n\\n\")\n        }\n    }\n    \n    htmlText = htmlBuilder.toString()\n    \n    // Для Telegram HTML режима не нужно экранировать <br> и HTML теги\n    // Экранируем только специальные символы для JSON\n    def escapedText = htmlText.replace('\\\\', '\\\\\\\\')\n                              .replace('\"', '\\\\\"')\n    \n    // Формируем JSON напрямую\n    def jsonBuilder = new JsonBuilder()\n    jsonBuilder {\n        chat_id \"#{CONF.TG.CHAT_ID}\"\n        text escapedText\n        parse_mode \"HTML\"\n        disable_web_page_preview true\n    }\n    \n    // Записываем JSON в FlowFile\n    outputStream.write(jsonBuilder.toPrettyString().getBytes(StandardCharsets.UTF_8))\n    \n} as StreamCallback)\n\n// Установка MIME-типа FlowFile в application/json\nflowFile = session.putAttribute(flowFile, \"mime.type\", \"application/json\")\n\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null,"local_time_zone":"#{CONF.MY.LOCAL_TIME_ZONE}"},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"local_time_zone":{"name":"local_time_zone","displayName":"local_time_zone","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"30626225-6312-36dc-87a4-13fd3301e7fb","instanceIdentifier":"1ea70e03-0199-1000-65b5-70d87c72ea44","name":"InvokeHTTP","comments":"","position":{"x":-296.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.open-meteo.com/v1/forecast?latitude=#{CONF.MY.LATITUDE}&longitude=#{CONF.MY.LONGITUDE}&hourly=temperature_2m,precipitation_probability,precipitation,weather_code&forecast_days=2","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["No Retry","Retry","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 secs","componentType":"PROCESSOR","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8beb4e8d-a4fc-3353-9042-96a9e4c94bf7","instanceIdentifier":"1eaadd97-0199-1000-601e-23be2f60367e","name":"","source":{"id":"30626225-6312-36dc-87a4-13fd3301e7fb","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1ea70e03-0199-1000-65b5-70d87c72ea44"},"destination":{"id":"0355ad3e-4f21-3795-9a5c-dbd1c3f381fc","type":"FUNNEL","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"Funnel","comments":"","instanceIdentifier":"1eaac02a-0199-1000-be94-81121583345b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":472.0,"y":-64.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"0d829c07-2349-3ef5-8d1e-169a13361e7e","instanceIdentifier":"1f4bf16b-0199-1000-6ccb-306fe83d5d3e","name":"","source":{"id":"ac82ed8e-fbb8-3ee6-a6bb-20a0e1f182d6","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f4b82f7-0199-1000-9dbb-520db96ad080"},"destination":{"id":"0355ad3e-4f21-3795-9a5c-dbd1c3f381fc","type":"FUNNEL","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"Funnel","comments":"","instanceIdentifier":"1eaac02a-0199-1000-be94-81121583345b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":472.0,"y":480.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"2c0e83e4-e70c-3845-a819-d923b98475ff","instanceIdentifier":"1eadf0bc-0199-1000-6d99-d2bb6cdc7e31","name":"","source":{"id":"eda2b4a9-3e7a-3e5b-86bf-4c07e357a123","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"1eac2295-0199-1000-8b56-4b8fd87d03de"},"destination":{"id":"0355ad3e-4f21-3795-9a5c-dbd1c3f381fc","type":"FUNNEL","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"Funnel","comments":"","instanceIdentifier":"1eaac02a-0199-1000-be94-81121583345b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":472.0,"y":72.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"4173b561-4bdf-35c2-b231-a52834f8c5a1","instanceIdentifier":"1eadcd76-0199-1000-d919-0bbc43e3a865","name":"","source":{"id":"eda2b4a9-3e7a-3e5b-86bf-4c07e357a123","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"1eac2295-0199-1000-8b56-4b8fd87d03de"},"destination":{"id":"0d31a838-b42e-3098-892d-00b79a2b3755","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"QueryRecord","comments":"","instanceIdentifier":"1eadb914-0199-1000-a03f-bde6660f8125"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":192.0,"y":144.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"56c5d484-b0e9-37cc-bc58-05c9f7714538","instanceIdentifier":"1ed8fcb5-0199-1000-8e04-b21abbcf76e5","name":"","source":{"id":"0d31a838-b42e-3098-892d-00b79a2b3755","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"QueryRecord","comments":"","instanceIdentifier":"1eadb914-0199-1000-a03f-bde6660f8125"},"destination":{"id":"bf4d19e7-e68e-3b5d-a4ce-d75523ee157a","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"csv -> html","comments":"","instanceIdentifier":"1f22e3fb-0199-1000-73f9-1977067a1377"},"labelIndex":0,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":192.0,"y":280.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"adac8335-6d0b-3ee6-aaf9-99858a3c840d","instanceIdentifier":"1f241c19-0199-1000-e7f1-3dfc251c7edf","name":"","source":{"id":"bf4d19e7-e68e-3b5d-a4ce-d75523ee157a","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"csv -> html","comments":"","instanceIdentifier":"1f22e3fb-0199-1000-73f9-1977067a1377"},"destination":{"id":"0355ad3e-4f21-3795-9a5c-dbd1c3f381fc","type":"FUNNEL","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"Funnel","comments":"","instanceIdentifier":"1eaac02a-0199-1000-be94-81121583345b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":472.0,"y":344.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"87ad61ef-57f0-34cd-ab2f-19fce8bbcbe1","instanceIdentifier":"1ea72183-0199-1000-1e70-671ea0108767","name":"","source":{"id":"f0cb3692-af77-3bb1-9268-a10ab510e05c","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"GenerateFlowFile","comments":"","instanceIdentifier":"1ea6e199-0199-1000-0398-8bbc27d8e1b9"},"destination":{"id":"30626225-6312-36dc-87a4-13fd3301e7fb","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1ea70e03-0199-1000-65b5-70d87c72ea44"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":192.0,"y":-128.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"25f4d26e-fb8b-3bde-8df0-7a6a60d0e2e7","instanceIdentifier":"1ed8bd45-0199-1000-9e5a-160179b17f7b","name":"","source":{"id":"0d31a838-b42e-3098-892d-00b79a2b3755","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"QueryRecord","comments":"","instanceIdentifier":"1eadb914-0199-1000-a03f-bde6660f8125"},"destination":{"id":"0355ad3e-4f21-3795-9a5c-dbd1c3f381fc","type":"FUNNEL","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"Funnel","comments":"","instanceIdentifier":"1eaac02a-0199-1000-be94-81121583345b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":472.0,"y":208.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"6496764d-8c24-3a17-b202-0b28402cb6ca","instanceIdentifier":"1f240b27-0199-1000-1b34-d5d109353afd","name":"","source":{"id":"bf4d19e7-e68e-3b5d-a4ce-d75523ee157a","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"csv -> html","comments":"","instanceIdentifier":"1f22e3fb-0199-1000-73f9-1977067a1377"},"destination":{"id":"ac82ed8e-fbb8-3ee6-a6bb-20a0e1f182d6","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f4b82f7-0199-1000-9dbb-520db96ad080"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":192.0,"y":424.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"a8c0d49a-af45-3314-b519-49852be3d483","instanceIdentifier":"1f4bbd6b-0199-1000-56a5-f25880cadb4a","name":"","source":{"id":"ac82ed8e-fbb8-3ee6-a6bb-20a0e1f182d6","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f4b82f7-0199-1000-9dbb-520db96ad080"},"destination":{"id":"f70a72c0-d8d1-3772-890e-858fde380ea0","type":"FUNNEL","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"Funnel","comments":"","instanceIdentifier":"1ed8ea9f-0199-1000-321d-716d39302cb2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"1a635588-df72-3b8d-ab6c-c2556a688f9a","instanceIdentifier":"1eac3717-0199-1000-6a8e-1595adef7f44","name":"","source":{"id":"30626225-6312-36dc-87a4-13fd3301e7fb","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1ea70e03-0199-1000-65b5-70d87c72ea44"},"destination":{"id":"eda2b4a9-3e7a-3e5b-86bf-4c07e357a123","type":"PROCESSOR","groupId":"c62b0715-3f19-3612-900d-258abf44ab0b","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"1eac2295-0199-1000-8b56-4b8fd87d03de"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":192.0,"y":8.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"}],"labels":[],"funnels":[{"identifier":"f70a72c0-d8d1-3772-890e-858fde380ea0","instanceIdentifier":"1ed8ea9f-0199-1000-321d-716d39302cb2","position":{"x":-144.0,"y":656.0},"componentType":"FUNNEL","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"0355ad3e-4f21-3795-9a5c-dbd1c3f381fc","instanceIdentifier":"1eaac02a-0199-1000-be94-81121583345b","position":{"x":448.0,"y":656.0},"componentType":"FUNNEL","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"}],"controllerServices":[{"identifier":"cacfd2dd-417f-316c-9c2e-e912ae4c0caf","instanceIdentifier":"1f010217-0199-1000-b4f5-b71ceab19937","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"false","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":";","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"5cfc6c9e-d2b5-3cf4-9b28-f30fc4eaf3d1","instanceIdentifier":"1ebae838-0199-1000-79f5-66e209aca2da","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"},{"identifier":"288ac033-006d-31ce-b8ed-ff452b1ca820","instanceIdentifier":"1ed73b03-0199-1000-4a40-cf03ebdd6ba5","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.6.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c62b0715-3f19-3612-900d-258abf44ab0b"}],"parameterContextName":"weather","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"weather":{"name":"weather","parameters":[{"name":"CONF.MY.LATITUDE","description":"","sensitive":false,"provided":false,"value":"59.0503"},{"name":"CONF.WEATHER_CODES","description":"","sensitive":false,"provided":false,"value":"{\n  \"0\": \"☀️ Ясно\",\n  \"1\": \"\uD83C\uDF24️ В основном ясно\",\n  \"2\": \"⛅ Переменная облачность\",\n  \"3\": \"☁️ Пасмурно\",\n  \"45\": \"\uD83C\uDF2B️ Туман\",\n  \"48\": \"\uD83C\uDF2B️ Туман с инеем\",\n  \"51\": \"\uD83C\uDF26️ Легкая морось\",\n  \"53\": \"\uD83C\uDF26️ Умеренная морось\",\n  \"55\": \"\uD83C\uDF26️ Сильная морось\",\n  \"56\": \"\uD83C\uDF26️ Легкая переохлажденная морось\",\n  \"57\": \"\uD83C\uDF26️ Сильная переохлажденная морось\",\n  \"61\": \"\uD83C\uDF27️ Небольшой дождь\",\n  \"63\": \"\uD83C\uDF27️ Умеренный дождь\",\n  \"65\": \"\uD83C\uDF27️ Сильный дождь\",\n  \"66\": \"\uD83E\uDDCA Легкий ледяной дождь\",\n  \"67\": \"\uD83E\uDDCA Сильный ледяной дождь\",\n  \"71\": \"❄️ Небольшой снег\",\n  \"73\": \"❄️ Умеренный снег\",\n  \"75\": \"❄️ Сильный снег\",\n  \"77\": \"\uD83C\uDF28️ Снежная крупа\",\n  \"80\": \"\uD83C\uDF26️ Небольшие ливни\",\n  \"81\": \"\uD83C\uDF27️ Умеренные ливни\",\n  \"82\": \"⛈️ Сильные ливни\",\n  \"85\": \"\uD83C\uDF28️ Небольшие снежные ливни\",\n  \"86\": \"\uD83C\uDF28️ Сильные снежные ливни\",\n  \"95\": \"⛈️ Гроза\",\n  \"96\": \"⛈️ Гроза с небольшим градом\",\n  \"99\": \"⛈️ Гроза с сильным градом\"\n}"},{"name":"CONF.MY.LONGITUDE","description":"","sensitive":false,"provided":false,"value":"30.4828"},{"name":"CONF.TG.CHAT_ID","description":"","sensitive":false,"provided":false,"value":"-1001766433999"},{"name":"CONF.MY.LOCAL_TIME_ZONE","description":"","sensitive":false,"provided":false,"value":"Europe/Moscow"},{"name":"CONF.TG.TOKEN","description":"","sensitive":false,"provided":false,"value":"123456780:AAGsOHtC6O-UGnEfmd34TK96KNI-DowKz2o"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}