Basics/Lesson14/lesson14.json
{"flowContents":{"identifier":"6131ba66-ce54-3750-918e-814c81c33c19","instanceIdentifier":"56245b29-0194-1000-6e74-1d6c09ea9660","name":"lesson14","comments":"DQ","position":{"x":816.0,"y":-160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"cfa8e7ff-160a-351b-b57c-754ffd41f637","instanceIdentifier":"d735a9b9-0194-1000-fb30-6246afdce6b3","name":"GenerateFlowFile","comments":"","position":{"x":-1192.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[\n  {\n    \"phone_no\": \"+1 730-221-7780\",\n    \"birthdate\": \"1972-01-25\",\n    \"surname\": \"Hickle\",\n    \"id\": \"493-74-0926\"\n  },\n  {\n    \"phone_no\": \"+1 651-947-8233\",\n    \"birthdate\": \"invalid-date\",\n    \"surname\": \"Runolfsson\",\n    \"id\": \"753-32-3756\"\n  }\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"dd867664-0194-1000-f8d5-dddac9325e2a","instanceIdentifier":"7c0008f2-6d62-3326-2276-3175b71c5a8f","name":"GenerateFlowFile","comments":"","position":{"x":-1320.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[ {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1962-10-10\",\n  \"surname\" : \"Purdy\",\n  \"id\" : null,\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 350-690-2745\",\n  \"birthdate\" : null,\n  \"surname\" : \"Schultz\",\n  \"id\" : \"596-42-5848\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 667-345-4860\",\n  \"birthdate\" : \"1997-05-05\",\n  \"surname\" : null,\n  \"id\" : \"167-37-7054\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-276-2919\",\n  \"birthdate\" : \"1977-12-22\",\n  \"surname\" : null,\n  \"id\" : \"092-67-4896\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-437-0635\",\n  \"birthdate\" : \"1984-01-20\",\n  \"surname\" : null,\n  \"id\" : \"784-59-1767\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-206-6657\",\n  \"birthdate\" : null,\n  \"surname\" : \"Gusikowski\",\n  \"id\" : \"762-77-2836\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-646-8738\",\n  \"birthdate\" : \"2005-09-25\",\n  \"surname\" : \"Daugherty\",\n  \"id\" : \"783-76-7676\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-240-1649\",\n  \"birthdate\" : \"1987-08-16\",\n  \"surname\" : null,\n  \"id\" : \"243-77-2813\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 235-829-4359\",\n  \"birthdate\" : null,\n  \"surname\" : \"Herzog\",\n  \"id\" : \"741-82-4800\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 983-818-5119\",\n  \"birthdate\" : \"1984-02-07\",\n  \"surname\" : null,\n  \"id\" : \"546-22-3941\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-807-3453\",\n  \"birthdate\" : \"1987-07-16\",\n  \"surname\" : null,\n  \"id\" : \"756-80-7481\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-615-6974\",\n  \"birthdate\" : null,\n  \"surname\" : \"Wiza\",\n  \"id\" : \"091-73-2400\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-202-3449\",\n  \"birthdate\" : \"1981-12-18\",\n  \"surname\" : \"Moore\",\n  \"id\" : \"480-44-7788\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-247-8816\",\n  \"birthdate\" : \"1975-12-24\",\n  \"surname\" : \"Mante\",\n  \"id\" : \"634-86-8872\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1986-08-08\",\n  \"surname\" : \"Boyer\",\n  \"id\" : \"229-38-6005\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-648-6527\",\n  \"birthdate\" : \"1976-05-24\",\n  \"surname\" : \"Hahn\",\n  \"id\" : \"702-37-8151\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-648-8092\",\n  \"birthdate\" : \"1968-09-17\",\n  \"surname\" : \"Larkin\",\n  \"id\" : \"492-22-1189\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-205-4401\",\n  \"birthdate\" : \"1966-07-03\",\n  \"surname\" : \"Reynolds\",\n  \"id\" : \"263-03-2237\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 983-742-6017\",\n  \"birthdate\" : null,\n  \"surname\" : null,\n  \"id\" : \"120-68-8464\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-625-3918\",\n  \"birthdate\" : \"1977-08-26\",\n  \"surname\" : null,\n  \"id\" : \"710-73-6729\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-246-1699\",\n  \"birthdate\" : null,\n  \"surname\" : \"Lakin\",\n  \"id\" : \"850-95-6816\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 630-841-2673\",\n  \"birthdate\" : null,\n  \"surname\" : \"Murphy\",\n  \"id\" : \"828-59-6980\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1971-02-17\",\n  \"surname\" : \"Gusikowski\",\n  \"id\" : \"186-28-9468\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"2006-02-15\",\n  \"surname\" : \"Kassulke\",\n  \"id\" : \"168-95-9474\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-204-8679\",\n  \"birthdate\" : \"1974-08-12\",\n  \"surname\" : null,\n  \"id\" : \"760-57-4105\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 983-463-0414\",\n  \"birthdate\" : \"2001-10-08\",\n  \"surname\" : null,\n  \"id\" : \"235-70-7041\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1986-12-07\",\n  \"surname\" : \"Purdy\",\n  \"id\" : \"578-52-7177\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1981-07-15\",\n  \"surname\" : \"Hettinger\",\n  \"id\" : \"345-16-9062\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-202-8691\",\n  \"birthdate\" : \"2007-01-20\",\n  \"surname\" : null,\n  \"id\" : \"728-95-7388\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-497-6366\",\n  \"birthdate\" : null,\n  \"surname\" : \"Mosciski\",\n  \"id\" : \"183-40-5018\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-216-4465\",\n  \"birthdate\" : null,\n  \"surname\" : \"Feest\",\n  \"id\" : \"701-69-8472\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 802-408-6462\",\n  \"birthdate\" : \"1987-01-23\",\n  \"surname\" : null,\n  \"id\" : \"020-97-2359\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"2006-12-01\",\n  \"surname\" : \"Schaefer\",\n  \"id\" : \"211-02-0511\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-646-0684\",\n  \"birthdate\" : \"1995-10-01\",\n  \"surname\" : \"Blanda\",\n  \"id\" : \"451-54-5025\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-276-8867\",\n  \"birthdate\" : null,\n  \"surname\" : \"Upton\",\n  \"id\" : \"645-45-2542\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1968-11-21\",\n  \"surname\" : \"Gerlach\",\n  \"id\" : \"198-11-2420\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1983-05-25\",\n  \"surname\" : \"Ankunding\",\n  \"id\" : \"316-92-0781\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 445-878-3258\",\n  \"birthdate\" : \"1988-07-28\",\n  \"surname\" : null,\n  \"id\" : \"611-89-0594\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-700-1164\",\n  \"birthdate\" : \"2006-05-21\",\n  \"surname\" : null,\n  \"id\" : \"260-03-7564\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 472-255-6462\",\n  \"birthdate\" : \"1966-04-19\",\n  \"surname\" : \"Rutherford\",\n  \"id\" : \"620-97-7161\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 628-708-4976\",\n  \"birthdate\" : null,\n  \"surname\" : \"Prohaska\",\n  \"id\" : \"484-31-8964\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 701-644-2090\",\n  \"birthdate\" : \"1976-06-20\",\n  \"surname\" : null,\n  \"id\" : \"709-42-2138\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-208-1947\",\n  \"birthdate\" : \"1974-02-17\",\n  \"surname\" : \"Beatty\",\n  \"id\" : \"126-11-7188\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-228-0377\",\n  \"birthdate\" : null,\n  \"surname\" : \"Romaguera\",\n  \"id\" : \"731-97-5069\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 973-258-5726\",\n  \"birthdate\" : \"1999-05-05\",\n  \"surname\" : null,\n  \"id\" : \"240-11-9739\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-242-5806\",\n  \"birthdate\" : \"1968-03-26\",\n  \"surname\" : \"Thiel\",\n  \"id\" : \"179-45-3312\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-610-0316\",\n  \"birthdate\" : \"1985-07-25\",\n  \"surname\" : \"Kemmer\",\n  \"id\" : \"880-52-9316\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 508-461-5488\",\n  \"birthdate\" : null,\n  \"surname\" : \"Kohler\",\n  \"id\" : \"887-73-1829\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1985-08-01\",\n  \"surname\" : \"Nolan\",\n  \"id\" : \"167-60-1315\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 860-304-0539\",\n  \"birthdate\" : null,\n  \"surname\" : \"Lemke\",\n  \"id\" : \"269-44-9669\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1980-05-22\",\n  \"surname\" : \"Ondricka\",\n  \"id\" : \"736-10-4654\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 305-291-9160\",\n  \"birthdate\" : \"1980-08-27\",\n  \"surname\" : null,\n  \"id\" : \"508-42-4612\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-644-1711\",\n  \"birthdate\" : \"1987-01-27\",\n  \"surname\" : \"Crooks\",\n  \"id\" : \"188-38-8478\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1976-05-06\",\n  \"surname\" : \"Schimmel\",\n  \"id\" : \"178-02-1031\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1985-08-31\",\n  \"surname\" : \"Jenkins\",\n  \"id\" : \"221-46-7691\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-646-9410\",\n  \"birthdate\" : \"1981-08-13\",\n  \"surname\" : null,\n  \"id\" : \"111-62-1262\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 743-741-7146\",\n  \"birthdate\" : \"1975-08-01\",\n  \"surname\" : null,\n  \"id\" : \"155-66-5313\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-231-4790\",\n  \"birthdate\" : \"1975-01-16\",\n  \"surname\" : null,\n  \"id\" : \"877-35-5196\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-201-3790\",\n  \"birthdate\" : null,\n  \"surname\" : \"Williamson\",\n  \"id\" : \"158-41-8642\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-604-7915\",\n  \"birthdate\" : null,\n  \"surname\" : \"Stehr\",\n  \"id\" : \"178-20-6336\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 983-222-3500\",\n  \"birthdate\" : null,\n  \"surname\" : \"Wintheiser\",\n  \"id\" : \"347-57-3384\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1999-07-16\",\n  \"surname\" : \"Krajcik\",\n  \"id\" : \"403-13-7558\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-646-6455\",\n  \"birthdate\" : \"2003-11-02\",\n  \"surname\" : \"Waters\",\n  \"id\" : \"648-28-9037\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-644-3809\",\n  \"birthdate\" : \"1976-09-20\",\n  \"surname\" : \"Buckridge\",\n  \"id\" : \"563-30-2022\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1979-03-21\",\n  \"surname\" : null,\n  \"id\" : \"098-90-9878\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 740-277-5904\",\n  \"birthdate\" : null,\n  \"surname\" : \"Goldner\",\n  \"id\" : \"524-48-6435\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1971-11-02\",\n  \"surname\" : \"Yundt\",\n  \"id\" : \"647-16-2347\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 281-758-4242\",\n  \"birthdate\" : null,\n  \"surname\" : \"Welch\",\n  \"id\" : \"288-37-6945\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 240-647-6469\",\n  \"birthdate\" : null,\n  \"surname\" : \"Ebert\",\n  \"id\" : \"607-68-0201\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 730-210-0650\",\n  \"birthdate\" : \"1993-12-18\",\n  \"surname\" : \"Block\",\n  \"id\" : \"238-81-8727\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-648-4805\",\n  \"birthdate\" : \"1987-05-15\",\n  \"surname\" : \"Schmeler\",\n  \"id\" : \"783-91-0948\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1995-12-21\",\n  \"surname\" : \"Schowalter\",\n  \"id\" : \"542-54-2104\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1992-10-19\",\n  \"surname\" : \"West\",\n  \"id\" : \"844-26-5548\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1961-12-15\",\n  \"surname\" : \"Senger\",\n  \"id\" : \"486-48-1718\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-644-7498\",\n  \"birthdate\" : \"1964-01-11\",\n  \"surname\" : \"Auer\",\n  \"id\" : \"185-39-0714\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : null,\n  \"birthdate\" : \"1976-07-31\",\n  \"surname\" : \"Schamberger\",\n  \"id\" : \"390-93-0269\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-644-5521\",\n  \"birthdate\" : \"2000-01-31\",\n  \"surname\" : \"Baumbach\",\n  \"id\" : null,\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-648-3507\",\n  \"birthdate\" : \"1986-10-29\",\n  \"surname\" : \"Brakus\",\n  \"id\" : \"307-27-7923\",\n  \"is_valid\" : false\n}, {\n  \"phone_no\" : \"+1 505-648-2889\",\n  \"birthdate\" : \"1972-02-25\",\n  \"surname\" : \"Hahn\",\n  \"id\" : \"124-54-3673\",\n  \"is_valid\" : false\n} ]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"ada19693-96ca-3318-8a92-4a2687f964ba","instanceIdentifier":"dd6c175e-0194-1000-3a6c-7da07e45d003","name":"PartitionRecord","comments":"","position":{"x":-704.0,"y":16.0},"type":"org.apache.nifi.processors.standard.PartitionRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"record-writer":"8530bf6f-0bc9-33e2-b626-9dc7b4eb451d","is_valid":"/is_valid","record-reader":"b955a04d-3ece-322f-b034-75936b2a6095"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"is_valid":{"name":"is_valid","displayName":"is_valid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"bf0ff9b5-a8f1-3292-8c8c-b713d800e209","instanceIdentifier":"dd6c93cc-0194-1000-a423-af3a8958305d","name":"RouteOnAttribute","comments":"","position":{"x":-696.0,"y":232.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Routing Strategy":"Route to Property name","is_valid":"${is_valid:equals(true)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_valid":{"name":"is_valid","displayName":"is_valid","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"d32adf1a-0194-1000-5bde-0b40001fa02e","instanceIdentifier":"fc566e3c-fe0d-3ee2-4c4f-20666c1be550","name":"GenerateRecord","comments":"","position":{"x":-728.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.GenerateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"nullable-fields":"true","phone_no":"PhoneNumber.cellPhoneInternational","birthdate":"DateAndTime.birthday","number-of-records":"10000","surname":"Name.lastName","record-writer":"8530bf6f-0bc9-33e2-b626-9dc7b4eb451d","id":"IdNumber.valid","schema-text":null,"null-percentage":"1"},"propertyDescriptors":{"nullable-fields":{"name":"nullable-fields","displayName":"Nullable Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"phone_no":{"name":"phone_no","displayName":"phone_no","identifiesControllerService":false,"sensitive":false,"dynamic":true},"birthdate":{"name":"birthdate","displayName":"birthdate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"number-of-records":{"name":"number-of-records","displayName":"Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"surname":{"name":"surname","displayName":"surname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"null-percentage":{"name":"null-percentage","displayName":"Null Value Percentage","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"d32b94a4-0194-1000-ab1e-4fd5013be4ce","instanceIdentifier":"bb0cbe31-3509-33b7-39f7-4c2c87435d1c","name":"InvokeHTTP","comments":"","position":{"x":-720.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://localhost:8001/validate","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"False","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"65535","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"multipart/form-data","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":"file","Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a654711d-8e29-3848-a021-b15a9d6170bf","instanceIdentifier":"dd7d84e2-0194-1000-6ca0-09af57e02610","name":"","source":{"id":"bf0ff9b5-a8f1-3292-8c8c-b713d800e209","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"RouteOnAttribute","comments":"","instanceIdentifier":"dd6c93cc-0194-1000-a423-af3a8958305d"},"destination":{"id":"82993389-a687-3fb8-8f61-643573e32ce5","type":"FUNNEL","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"Funnel","comments":"","instanceIdentifier":"562ab393-0194-1000-7894-209152b9144b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["is_valid"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"209121d3-02ea-32a4-bb1d-e137101a03e6","instanceIdentifier":"d32c2821-0194-1000-62db-ac31c8ac54a3","name":"","source":{"id":"d32adf1a-0194-1000-5bde-0b40001fa02e","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"GenerateRecord","comments":"","instanceIdentifier":"fc566e3c-fe0d-3ee2-4c4f-20666c1be550"},"destination":{"id":"d32b94a4-0194-1000-ab1e-4fd5013be4ce","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"InvokeHTTP","comments":"","instanceIdentifier":"bb0cbe31-3509-33b7-39f7-4c2c87435d1c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"31219895-703a-3603-887a-abd4e46bf13f","instanceIdentifier":"dd7d950a-0194-1000-0a56-6ab6408802d4","name":"","source":{"id":"bf0ff9b5-a8f1-3292-8c8c-b713d800e209","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"RouteOnAttribute","comments":"","instanceIdentifier":"dd6c93cc-0194-1000-a423-af3a8958305d"},"destination":{"id":"36381249-7d1d-385c-9960-bb4a9ba537fb","type":"FUNNEL","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"Funnel","comments":"","instanceIdentifier":"dd7cd2c1-0194-1000-cee4-07eb91b5162d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"64312f7c-b0f9-32af-a86f-2efdd4cf041c","instanceIdentifier":"dd868731-0194-1000-3497-79707722ee74","name":"","source":{"id":"dd867664-0194-1000-f8d5-dddac9325e2a","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"GenerateFlowFile","comments":"","instanceIdentifier":"7c0008f2-6d62-3326-2276-3175b71c5a8f"},"destination":{"id":"d32b94a4-0194-1000-ab1e-4fd5013be4ce","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"InvokeHTTP","comments":"","instanceIdentifier":"bb0cbe31-3509-33b7-39f7-4c2c87435d1c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"2699174e-e9e5-3527-98bd-95be91eaff95","instanceIdentifier":"dd6ca9b4-0194-1000-e1d1-f2ff22844ee7","name":"","source":{"id":"ada19693-96ca-3318-8a92-4a2687f964ba","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"PartitionRecord","comments":"","instanceIdentifier":"dd6c175e-0194-1000-3a6c-7da07e45d003"},"destination":{"id":"bf0ff9b5-a8f1-3292-8c8c-b713d800e209","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"RouteOnAttribute","comments":"","instanceIdentifier":"dd6c93cc-0194-1000-a423-af3a8958305d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"8e36efd7-be13-3ca9-ac69-0f02a648abb0","instanceIdentifier":"d6282799-0194-1000-a91a-51f1ec8858a6","name":"","source":{"id":"d32b94a4-0194-1000-ab1e-4fd5013be4ce","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"InvokeHTTP","comments":"","instanceIdentifier":"bb0cbe31-3509-33b7-39f7-4c2c87435d1c"},"destination":{"id":"ada19693-96ca-3318-8a92-4a2687f964ba","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"PartitionRecord","comments":"","instanceIdentifier":"dd6c175e-0194-1000-3a6c-7da07e45d003"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"3edd29e2-7bb5-3601-9375-2b638a0c5546","instanceIdentifier":"d735e658-0194-1000-895d-28ac963743a8","name":"","source":{"id":"cfa8e7ff-160a-351b-b57c-754ffd41f637","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"GenerateFlowFile","comments":"","instanceIdentifier":"d735a9b9-0194-1000-fb30-6246afdce6b3"},"destination":{"id":"d32b94a4-0194-1000-ab1e-4fd5013be4ce","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"InvokeHTTP","comments":"","instanceIdentifier":"bb0cbe31-3509-33b7-39f7-4c2c87435d1c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"14a28743-f122-3bb4-8314-c592d16189d1","instanceIdentifier":"d64b3928-0194-1000-6c66-aa81fc0c688a","name":"","source":{"id":"d32b94a4-0194-1000-ab1e-4fd5013be4ce","type":"PROCESSOR","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"InvokeHTTP","comments":"","instanceIdentifier":"bb0cbe31-3509-33b7-39f7-4c2c87435d1c"},"destination":{"id":"5221570e-0138-3c3f-be75-9cba2b4fd3cf","type":"FUNNEL","groupId":"6131ba66-ce54-3750-918e-814c81c33c19","name":"Funnel","comments":"","instanceIdentifier":"d64b06d0-0194-1000-93fe-ebd63bfd712d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"}],"labels":[],"funnels":[{"identifier":"36381249-7d1d-385c-9960-bb4a9ba537fb","instanceIdentifier":"dd7cd2c1-0194-1000-cee4-07eb91b5162d","position":{"x":-304.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"82993389-a687-3fb8-8f61-643573e32ce5","instanceIdentifier":"562ab393-0194-1000-7894-209152b9144b","position":{"x":-784.0,"y":496.0},"componentType":"FUNNEL","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"5221570e-0138-3c3f-be75-9cba2b4fd3cf","instanceIdentifier":"d64b06d0-0194-1000-93fe-ebd63bfd712d","position":{"x":-64.0,"y":-144.0},"componentType":"FUNNEL","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"}],"controllerServices":[{"identifier":"8530bf6f-0bc9-33e2-b626-9dc7b4eb451d","instanceIdentifier":"d32c7348-0194-1000-c56a-328f5693be43","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":"yyyy-MM-dd","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"},{"identifier":"b955a04d-3ece-322f-b034-75936b2a6095","instanceIdentifier":"dd6ce2d4-0194-1000-e03d-4f523c2be42b","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6131ba66-ce54-3750-918e-814c81c33c19"}],"parameterContextName":"test","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"test":{"name":"test","parameters":[{"name":"Parameter2","description":"","sensitive":false,"provided":false,"value":"${now()}"},{"name":"OffshoreCurrencyList","description":"","sensitive":false,"provided":false,"value":"TWD,KRW"},{"name":"Patameter1","description":"","sensitive":false,"provided":false,"value":"test"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}