Lesson13/lesson13.json
{"flowContents":{"identifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9","instanceIdentifier":"2df395e6-ad3c-31e2-bdf7-b64caedddaec","name":"lesson13","comments":"Excel to CSV","position":{"x":816.0,"y":-352.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a83ff240-0194-1000-42ac-ddd9480691d6","instanceIdentifier":"215603f0-13eb-3dee-bf12-ea302682f8e6","name":"ExcelToCSVProcessor.groovy","comments":"","position":{"x":-296.0,"y":-336.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"@Grab(group='org.apache.poi', module='poi-ooxml', version='5.0.0')\n@Grab(group='org.apache.poi', module='poi-ooxml-schemas', version='4.1.2')\n@Grab(group='org.apache.xmlbeans', module='xmlbeans', version='5.0.3')\n@Grab(group='commons-io', module='commons-io', version='2.8.0')\n@Grab(group='com.opencsv', module='opencsv', version='5.8')\n\nimport org.apache.poi.ss.usermodel.*\nimport org.apache.poi.xssf.usermodel.XSSFWorkbook\nimport org.apache.poi.ss.util.*\nimport java.io.*\nimport java.text.SimpleDateFormat\nimport org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport com.opencsv.CSVWriter\nimport com.opencsv.CSVWriterBuilder\nimport com.opencsv.ICSVWriter\n\nflowFile = session.get()\nif (!flowFile) return\nnewFlowFile = session.create(flowFile)\n\ntry {\n    def workbook\n    session.read(flowFile, { inputStream ->\n        workbook = WorkbookFactory.create(inputStream)\n    } as InputStreamCallback)\n\n    def sheet = workbook.getSheetAt(0)\n    def csv_data_rows = []\n\n    for (def i = 0; i <= sheet.lastRowNum; i++) {\n        def row = sheet.getRow(i)\n        if (row == null) {\n            continue\n        }\n\n        def tmp_data_list = []\n        int lastCellNum = row.getLastCellNum()\n\n        for (def j = 0; j < lastCellNum; j++) {\n            Cell cell = row.getCell(j, Row.MissingCellPolicy.CREATE_NULL_AS_BLANK)\n            def value = \"\"\n\n            switch (cell.getCellType()) {\n                case CellType.STRING:\n                    value = cell.getStringCellValue().replace(\"\\n\", \"\")\n                    break\n\n                case CellType.NUMERIC:\n                    if (DateUtil.isCellDateFormatted(cell)) {\n                        // Получаем количество дней с 1 января 1900 года\n                        double excelDateValue = cell.getNumericCellValue()\n                        \n                        // Преобразуем в Unix timestamp (миллисекунды с 1 января 1970 года)\n                        long unixTimestamp = (long) ((excelDateValue - 25569) * 86400 * 1000)\n                        \n                        value = unixTimestamp.toString()\n                    } else {\n                        double numericValue = cell.getNumericCellValue()\n                        if (numericValue == Math.floor(numericValue)) {\n                            value = Integer.toString((int) numericValue)\n                        } else {\n                            value = Double.toString(numericValue)\n                        }\n                    }\n                    break\n\n                case CellType.BOOLEAN:\n                    value = cell.getBooleanCellValue().toString()\n                    break\n\n                case CellType.FORMULA:\n                    value = cell.getCellFormula()\n                    break\n\n                case CellType.ERROR:\n                    value = \"ERROR\"\n                    break\n\n                default:\n                    value = \"\"\n            }\n\n            tmp_data_list.add(value)\n        }\n\n        csv_data_rows.add(tmp_data_list)\n    }\n\n    log.info(\"CSV данные: ${csv_data_rows}\")\n\n    newFlowFile = session.write(newFlowFile, { outputStream ->\n        OutputStreamWriter writer = new OutputStreamWriter(outputStream, StandardCharsets.UTF_8)\n        CSVWriter csvWriter = new CSVWriterBuilder(writer)\n            .withQuoteChar(CSVWriter.NO_QUOTE_CHARACTER)\n            .build()\n\n        csv_data_rows.each { row ->\n            csvWriter.writeNext(row as String[])\n        }\n\n        csvWriter.flush()\n    } as OutputStreamCallback)\n\n    // Устанавливаем атрибут mime.type\n    newFlowFile = session.putAttribute(newFlowFile, \"mime.type\", \"text/csv\")\n\n    session.remove(flowFile)\n    session.transfer(newFlowFile, REL_SUCCESS)\n} catch (ex) {\n    session.remove(newFlowFile)\n    log.error(\"Ошибка: ${ex.message}\", ex)\n    session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"79a123c1-e2e6-3bf7-995b-bb19409d3da1","instanceIdentifier":"d1f6b16d-0194-1000-cfa3-20fe7749dc61","name":"InvokeHTTP","comments":"","position":{"x":-296.0,"y":72.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://localhost:8000/convert-excel-to-csv","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"False","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"multipart/form-data","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":"file","Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"866ff571-f86c-3326-843e-999479dfd340","instanceIdentifier":"a7ec0193-0194-1000-8911-991895c79a60","name":"GetFile","comments":"","position":{"x":-952.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"c:\\tmp","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"TestWB.xls","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"4c915292-ac17-32e3-99d0-06c62ebb0641","instanceIdentifier":"aa16f156-0194-1000-aeb5-db7ca9598d2b","name":"SplitExcel","comments":"","position":{"x":-968.0,"y":-136.0},"type":"org.apache.nifi.processors.excel.SplitExcel","bundle":{"group":"org.apache.nifi","artifact":"nifi-poi-nar","version":"2.1.0"},"properties":{"Protection Type":"UNPROTECTED"},"propertyDescriptors":{"Protection Type":{"name":"Protection Type","displayName":"Protection Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":100,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"ad2243ac-58c2-399a-b24e-55d038afea88","instanceIdentifier":"aa29e243-0194-1000-6442-f17391a03d2f","name":"ExecuteStreamCommand","comments":"","position":{"x":-296.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":"text/csv","Working Directory":".\\extensions","Command Path":".\\extensions\\venv\\Scripts\\python.exe","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"excel_to_csv.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":1000,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"fa15c899-0194-1000-f395-1283ce5b1cb8","instanceIdentifier":"f98cd1ef-4de8-346d-4005-1cbb31a22c05","name":"ExecuteGroovyScript","comments":"","position":{"x":-96.0,"y":-568.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"@Grab(group='org.apache.poi', module='poi-ooxml', version='5.0.0')\n@Grab(group='org.apache.poi', module='poi-ooxml-schemas', version='4.1.2')\n@Grab(group='org.apache.xmlbeans', module='xmlbeans', version='5.0.3')\n@Grab(group='commons-io', module='commons-io', version='2.8.0')\n@Grab(group='com.opencsv', module='opencsv', version='5.8')\n\nimport org.apache.poi.ss.usermodel.*\nimport org.apache.poi.xssf.usermodel.XSSFWorkbook\nimport org.apache.poi.ss.util.*\nimport java.io.*\nimport java.text.SimpleDateFormat\nimport org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport com.opencsv.CSVWriter\nimport com.opencsv.CSVWriterBuilder\nimport com.opencsv.ICSVWriter\n\nflowFile = session.get()\nif(!flowFile) return\n\nnewFlowFile = session.create(flowFile)\n\ntry {\n    def workbook\n    session.read(flowFile, { inputStream ->\n        workbook = WorkbookFactory.create(inputStream)\n    } as InputStreamCallback)\n\n    def sheet = workbook.getSheetAt(0)\n    def csv_data_rows = []\n\n    for (def i = 0; i <= sheet.lastRowNum; i++) {\n        def row = sheet.getRow(i)\n        if (row == null) {\n            continue\n        }\n\n        def tmp_data_list = []\n        int lastCellNum = row.getLastCellNum()\n        for (def j = 0; j < lastCellNum; j++) {\n            Cell cell = row.getCell(j, Row.MissingCellPolicy.CREATE_NULL_AS_BLANK)\n            def value = \"\"\n            switch (cell.getCellType()) {\n                case CellType.STRING:\n                    value = cell.getStringCellValue().replace(\"\\n\", \"\")\n                    break\n                case CellType.NUMERIC:\n                    if (DateUtil.isCellDateFormatted(cell)) {\n                        Date date = cell.getDateCellValue()\n                        SimpleDateFormat format1 = new SimpleDateFormat(\"dd-MM-yyyy\")\n                        value = format1.format(date)\n                    } else {\n                        double numericValue = cell.getNumericCellValue()\n                        if (numericValue == Math.floor(numericValue)) {\n                            value = Integer.toString((int) numericValue)\n                        } else {\n                            value = Double.toString(numericValue)\n                        }\n                    }\n                    break\n                case CellType.BOOLEAN:\n                    value = cell.getBooleanCellValue().toString()\n                    break\n                case CellType.FORMULA:\n                    value = cell.getCellFormula()\n                    break\n                case CellType.ERROR:\n                    value = \"ERROR\"\n                    break\n                default:\n                    value = \"\"\n            }\n            tmp_data_list.add(value)\n        }\n        csv_data_rows.add(tmp_data_list)\n    }\n\n    log.info(\"CSV данные: ${csv_data_rows}\")\n\n    newFlowFile = session.write(newFlowFile, { outputStream ->\n        OutputStreamWriter writer = new OutputStreamWriter(outputStream, StandardCharsets.UTF_8)\n        CSVWriter csvWriter = new CSVWriterBuilder(writer)\n            .withQuoteChar(CSVWriter.NO_QUOTE_CHARACTER)\n            .build()\n        csv_data_rows.each { row ->\n            csvWriter.writeNext(row as String[])\n        }\n        csvWriter.flush()\n    } as OutputStreamCallback)\n\n    session.remove(flowFile)\n    session.transfer(newFlowFile, REL_SUCCESS)\n} catch (ex) {\n    session.remove(newFlowFile)\n    log.error(\"Ошибка: ${ex.message}\", ex)\n    session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"a94b1bc0-0194-1000-caac-1e0ebd7e4e30","instanceIdentifier":"7e1e4caa-0984-3b04-667d-a7797e1bf51e","name":"GetFile","comments":"","position":{"x":-968.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"c:\\tmp","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"excel_test2.xlsx","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"f7ed632f-624d-31eb-af33-073da166b419","instanceIdentifier":"f7667fdb-0194-1000-48fd-272948a16d42","name":"ExcelToCSVProcessor.py","comments":"","position":{"x":-296.0,"y":208.0},"type":"ExcelToCSVProcessor","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"f4dbde66-0d22-3bfc-94f3-c6b6816227f5","instanceIdentifier":"aa1bbfdc-0194-1000-7c22-b321cd0b8357","name":"ConvertRecord","comments":"","position":{"x":-296.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"a4acbf3d-e2eb-31c8-9875-15587e76ed2e","Record Reader":"689ff5ee-b15b-3112-bbfa-74fdd495717c"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a3bfabd3-fef2-33f7-9a8e-f82df8368a44","instanceIdentifier":"f76a9434-0194-1000-af76-f8b6d1054659","name":"","source":{"id":"f7ed632f-624d-31eb-af33-073da166b419","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ExcelToCSVProcessor.py","comments":"","instanceIdentifier":"f7667fdb-0194-1000-48fd-272948a16d42"},"destination":{"id":"90d2bdf3-a1d2-380d-a8d0-7f4bd5e54536","type":"FUNNEL","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"Funnel","comments":"","instanceIdentifier":"f75c9772-0194-1000-d932-0de6788306c4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"59dcbcbf-9618-34bf-bcec-659078957089","instanceIdentifier":"aa1bdf2e-0194-1000-349f-e22ac8979d1c","name":"","source":{"id":"4c915292-ac17-32e3-99d0-06c62ebb0641","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"SplitExcel","comments":"","instanceIdentifier":"aa16f156-0194-1000-aeb5-db7ca9598d2b"},"destination":{"id":"f4dbde66-0d22-3bfc-94f3-c6b6816227f5","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ConvertRecord","comments":"","instanceIdentifier":"aa1bbfdc-0194-1000-7c22-b321cd0b8357"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"75cad8eb-6982-3c73-89df-c346028b842a","instanceIdentifier":"d22b5bc7-0194-1000-5606-f9cac406dcf6","name":"","source":{"id":"4c915292-ac17-32e3-99d0-06c62ebb0641","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"SplitExcel","comments":"","instanceIdentifier":"aa16f156-0194-1000-aeb5-db7ca9598d2b"},"destination":{"id":"a83ff240-0194-1000-42ac-ddd9480691d6","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ExcelToCSVProcessor.groovy","comments":"","instanceIdentifier":"215603f0-13eb-3dee-bf12-ea302682f8e6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"c8286817-3be3-30de-a52c-f82b9ede418d","instanceIdentifier":"aa1c006f-0194-1000-debf-7e1119caebfd","name":"","source":{"id":"f4dbde66-0d22-3bfc-94f3-c6b6816227f5","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ConvertRecord","comments":"","instanceIdentifier":"aa1bbfdc-0194-1000-7c22-b321cd0b8357"},"destination":{"id":"5f0e2b94-26e2-3ccb-a5e3-ae8fc2eb5cc4","type":"FUNNEL","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"Funnel","comments":"","instanceIdentifier":"a83c1539-0194-1000-5b8d-4d6cb1659768"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"0e32da04-6920-3ea0-a0b8-ea5c8bd07c6c","instanceIdentifier":"aa2a4035-0194-1000-abb3-86c5c71fc1ff","name":"","source":{"id":"ad2243ac-58c2-399a-b24e-55d038afea88","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"aa29e243-0194-1000-6442-f17391a03d2f"},"destination":{"id":"aa607e8b-ffe5-322d-8b5e-304f8c50a9e5","type":"FUNNEL","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"Funnel","comments":"","instanceIdentifier":"aa2a15b6-0194-1000-6df5-8fd2ea69653b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"7e109542-bcdc-363f-8c95-18f9b948bdc9","instanceIdentifier":"d1f73a5e-0194-1000-68c2-46bb1449e92a","name":"","source":{"id":"79a123c1-e2e6-3bf7-995b-bb19409d3da1","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"InvokeHTTP","comments":"","instanceIdentifier":"d1f6b16d-0194-1000-cfa3-20fe7749dc61"},"destination":{"id":"afbd4c93-7a89-3cb9-ab71-dcf6dcdfe531","type":"FUNNEL","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"Funnel","comments":"","instanceIdentifier":"d1f71880-0194-1000-d84a-14144c72c6b0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"e38c936f-91af-3592-94e2-64536d1265bc","instanceIdentifier":"a7eccc51-0194-1000-56de-2321155c2637","name":"","source":{"id":"866ff571-f86c-3326-843e-999479dfd340","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"GetFile","comments":"","instanceIdentifier":"a7ec0193-0194-1000-8911-991895c79a60"},"destination":{"id":"a83ff240-0194-1000-42ac-ddd9480691d6","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ExcelToCSVProcessor.groovy","comments":"","instanceIdentifier":"215603f0-13eb-3dee-bf12-ea302682f8e6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"e65ff433-7d27-3cf5-858f-b3e1e6ea348c","instanceIdentifier":"a94bb968-0194-1000-9361-f5e4aa5e563d","name":"","source":{"id":"a94b1bc0-0194-1000-caac-1e0ebd7e4e30","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"GetFile","comments":"","instanceIdentifier":"7e1e4caa-0984-3b04-667d-a7797e1bf51e"},"destination":{"id":"a83ff240-0194-1000-42ac-ddd9480691d6","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ExcelToCSVProcessor.groovy","comments":"","instanceIdentifier":"215603f0-13eb-3dee-bf12-ea302682f8e6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"97947766-afc1-3a18-bc50-02fe57c470ee","instanceIdentifier":"fc6f1cc4-0194-1000-2911-71ac266a2193","name":"","source":{"id":"a94b1bc0-0194-1000-caac-1e0ebd7e4e30","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"GetFile","comments":"","instanceIdentifier":"7e1e4caa-0984-3b04-667d-a7797e1bf51e"},"destination":{"id":"f4dbde66-0d22-3bfc-94f3-c6b6816227f5","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ConvertRecord","comments":"","instanceIdentifier":"aa1bbfdc-0194-1000-7c22-b321cd0b8357"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"e3843079-373e-3625-83d0-a75a46c60d21","instanceIdentifier":"d24acd28-0194-1000-17d4-822f4fd22995","name":"","source":{"id":"a83ff240-0194-1000-42ac-ddd9480691d6","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ExcelToCSVProcessor.groovy","comments":"","instanceIdentifier":"215603f0-13eb-3dee-bf12-ea302682f8e6"},"destination":{"id":"a7eb134c-0194-1000-ce8e-634dfeaff24d","type":"FUNNEL","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"Funnel","comments":"","instanceIdentifier":"f0e641eb-545b-30b4-4d3f-88ce6b3a7fbe"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"4e1dfff0-f747-345e-8509-c6a049354c9a","instanceIdentifier":"25262005-0196-1000-1536-429ea56570b0","name":"","source":{"id":"a94b1bc0-0194-1000-caac-1e0ebd7e4e30","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"GetFile","comments":"","instanceIdentifier":"7e1e4caa-0984-3b04-667d-a7797e1bf51e"},"destination":{"id":"4c915292-ac17-32e3-99d0-06c62ebb0641","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"SplitExcel","comments":"","instanceIdentifier":"aa16f156-0194-1000-aeb5-db7ca9598d2b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"0d33b417-98ab-3966-a23f-fe10378932f3","instanceIdentifier":"f76ab126-0194-1000-c8a5-72c94a44cc0b","name":"","source":{"id":"f7ed632f-624d-31eb-af33-073da166b419","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ExcelToCSVProcessor.py","comments":"","instanceIdentifier":"f7667fdb-0194-1000-48fd-272948a16d42"},"destination":{"id":"7789cd17-bcf4-354f-82a0-2027c1d3a551","type":"FUNNEL","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"Funnel","comments":"","instanceIdentifier":"f76a9f70-0194-1000-1270-133907667c2a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"2011b3b3-51f2-396a-a11f-c3c0f74b1775","instanceIdentifier":"d2c18f47-0194-1000-b92b-22f3e3109b2a","name":"","source":{"id":"4c915292-ac17-32e3-99d0-06c62ebb0641","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"SplitExcel","comments":"","instanceIdentifier":"aa16f156-0194-1000-aeb5-db7ca9598d2b"},"destination":{"id":"ad2243ac-58c2-399a-b24e-55d038afea88","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"aa29e243-0194-1000-6442-f17391a03d2f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"d65ca1c8-66ed-36ae-a59b-a3759afdec5a","instanceIdentifier":"d1f6de84-0194-1000-8fea-254c075bc7c9","name":"","source":{"id":"79a123c1-e2e6-3bf7-995b-bb19409d3da1","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"InvokeHTTP","comments":"","instanceIdentifier":"d1f6b16d-0194-1000-cfa3-20fe7749dc61"},"destination":{"id":"1cd329a5-a714-3e14-9fcf-c6ff286bc84c","type":"FUNNEL","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"Funnel","comments":"","instanceIdentifier":"d1f6c889-0194-1000-09fd-69bf8950ee9b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"06e82c3d-b3fd-31d3-89dc-e6da0694a9eb","instanceIdentifier":"f76ad994-0194-1000-704a-6859fa5e19d8","name":"","source":{"id":"4c915292-ac17-32e3-99d0-06c62ebb0641","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"SplitExcel","comments":"","instanceIdentifier":"aa16f156-0194-1000-aeb5-db7ca9598d2b"},"destination":{"id":"f7ed632f-624d-31eb-af33-073da166b419","type":"PROCESSOR","groupId":"a7eb1347-0194-1000-8c6f-716e7562f0f9","name":"ExcelToCSVProcessor.py","comments":"","instanceIdentifier":"f7667fdb-0194-1000-48fd-272948a16d42"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"}],"labels":[],"funnels":[{"identifier":"a7eb134c-0194-1000-ce8e-634dfeaff24d","instanceIdentifier":"f0e641eb-545b-30b4-4d3f-88ce6b3a7fbe","position":{"x":328.0,"y":-296.0},"componentType":"FUNNEL","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"aa607e8b-ffe5-322d-8b5e-304f8c50a9e5","instanceIdentifier":"aa2a15b6-0194-1000-6df5-8fd2ea69653b","position":{"x":328.0,"y":-24.0},"componentType":"FUNNEL","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"1cd329a5-a714-3e14-9fcf-c6ff286bc84c","instanceIdentifier":"d1f6c889-0194-1000-09fd-69bf8950ee9b","position":{"x":328.0,"y":112.0},"componentType":"FUNNEL","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"90d2bdf3-a1d2-380d-a8d0-7f4bd5e54536","instanceIdentifier":"f75c9772-0194-1000-d932-0de6788306c4","position":{"x":328.0,"y":256.0},"componentType":"FUNNEL","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"5f0e2b94-26e2-3ccb-a5e3-ae8fc2eb5cc4","instanceIdentifier":"a83c1539-0194-1000-5b8d-4d6cb1659768","position":{"x":328.0,"y":-152.0},"componentType":"FUNNEL","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"afbd4c93-7a89-3cb9-ab71-dcf6dcdfe531","instanceIdentifier":"d1f71880-0194-1000-d84a-14144c72c6b0","position":{"x":328.0,"y":32.0},"componentType":"FUNNEL","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"7789cd17-bcf4-354f-82a0-2027c1d3a551","instanceIdentifier":"f76a9f70-0194-1000-1270-133907667c2a","position":{"x":328.0,"y":336.0},"componentType":"FUNNEL","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"}],"controllerServices":[{"identifier":"689ff5ee-b15b-3112-bbfa-74fdd495717c","instanceIdentifier":"aa1c7c4c-0194-1000-4f38-0a4fd8834f59","name":"ExcelReader","comments":"","type":"org.apache.nifi.excel.ExcelReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-poi-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Required Sheets":null,"Timestamp Format":null,"Date Format":null,"schema-name":"${schema.name}","schema-registry":null,"Starting Row":"1","Protection Type":"UNPROTECTED","Time Format":null,"schema-access-strategy":"Use Starting Row","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Required Sheets":{"name":"Required Sheets","displayName":"Required Sheets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Row":{"name":"Starting Row","displayName":"Starting Row","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Protection Type":{"name":"Protection Type","displayName":"Protection Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"a7eb1349-0194-1000-b01b-9a3d129ef7a5","instanceIdentifier":"c8f5d7b2-a197-3e9b-ccb1-b69249f3df2b","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"a4acbf3d-e2eb-31c8-9875-15587e76ed2e","instanceIdentifier":"aa1c6348-0194-1000-75db-2f2fa7c9ae49","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"full-schema-attribute","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"},{"identifier":"a7eb1348-0194-1000-1577-8d54bc796fb5","instanceIdentifier":"388a8c5a-2236-3174-2d89-156f3741de17","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a7eb1347-0194-1000-8c6f-716e7562f0f9"}],"parameterContextName":"test","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"test":{"name":"test","parameters":[{"name":"Parameter2","description":"","sensitive":false,"provided":false,"value":"${now()}"},{"name":"OffshoreCurrencyList","description":"","sensitive":false,"provided":false,"value":"TWD,KRW"},{"name":"Patameter1","description":"","sensitive":false,"provided":false,"value":"test"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}