Lesson7/lesson7.json
{"flowContents":{"identifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","instanceIdentifier":"36a830cc-0194-1000-e9ca-933b7e5f9a07","name":"lesson7","comments":"Фильтруем объекты JSON","position":{"x":-48.0,"y":32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"81202ad0-ab57-3447-9133-02ab5ce7731f","instanceIdentifier":"36e64216-0194-1000-f4d9-adc9f018c81f","name":"ExecuteGroovyScript","comments":"","position":{"x":80.0,"y":-32.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport groovy.json.JsonGenerator\n\n// Чтение входящего JSON\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef jsonSlurper = new JsonSlurper()\ndef json = jsonSlurper.parseText(flowFile.read().getText(\"UTF-8\"))\n\n// Фильтрация addresses\ndef filteredAddresses = json.profile.addresses.findAll { address ->\n    (address.type in [\"11\", \"15\"]) && !address.del_sign\n}\n\n// Обновление JSON с отфильтрованными адресами\njson.profile.addresses = filteredAddresses\n\n// Настройка JsonGenerator для отключения экранирования Unicode\ndef generator = new JsonGenerator.Options()\n    .disableUnicodeEscaping() // Отключаем экранирование Unicode\n    .build()\n\n// Преобразование обновленного JSON в строку с использованием настроенного генератора\ndef updatedJson = generator.toJson(json)\n\n// Запись обновленного JSON в FlowFile\nflowFile = session.write(flowFile, { outputStream ->\n    outputStream.write(updatedJson.getBytes(\"UTF-8\"))\n} as OutputStreamCallback)\n\n// Передача FlowFile дальше по процессу\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"8a47e612-15b9-30d7-baa4-e13a680a2816","instanceIdentifier":"36bc54ee-0194-1000-abdf-5e8c7b09c8b7","name":"JoltTransformJSON","comments":"","position":{"x":80.0,"y":-176.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.1.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"profile\": {\n        \"addresses\": {\n          \"*\": {\n            \"del_sign\": {\n              \"false\": {\n                \"@2\": \"&5.&4[]\"\n              }\n            }\n          }\n        },\n        \"*\": \"&1.&\"\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"profile\": {\n        \"addresses\": {\n          \"*\": {\n            \"type\": {\n              \"11|15\": {\n                \"@2\": \"&5.&4[]\"\n              }\n            }\n          }\n        },\n        \"*\": \"&1.&\"\n      }\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"f3d030cf-0d55-3058-9c77-0bee359b2a63","instanceIdentifier":"36b4b2a1-0194-1000-0ef7-0513e9b96968","name":"JSLTTransformJSON","comments":"","position":{"x":80.0,"y":-320.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.1.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"let filtered_addresses = \n  [for (.profile.addresses) .\n    if (contains(.type, [\"11\", \"15\"]) and .del_sign == false)\n  ]\n\n\n{\n  \"profile\" : {\n    \"addresses\": $filtered_addresses,\n    * : .\n  }\n}\n","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"EACH_OBJECT"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"c2ba8dce-ded1-3056-afda-e66c83197ee2","instanceIdentifier":"372c7ccc-0194-1000-556c-804bb01fafba","name":"ScriptedTransformRecord","comments":"","position":{"x":80.0,"y":112.0},"type":"org.apache.nifi.processors.script.ScriptedTransformRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.1.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"// Функция для фильтрации массива addresses\ndef filterAddresses(addresses) {\n    return addresses.findAll { address ->\n        def type = address.getValue(\"type\") // Получаем значение поля \"type\"\n        def delSign = address.getValue(\"del_sign\") // Получаем значение поля \"del_sign\"\n        (type in [\"11\", \"15\"]) && !delSign // Фильтруем по условию\n    }\n}\n\n// Получаем значение поля \"profile\" из записи\ndef profile = record.getValue(\"profile\")\n\n// Получаем массив addresses из profile\ndef addresses = profile.getValue(\"addresses\")\n\n// Фильтруем массив addresses\ndef filteredAddresses = filterAddresses(addresses)\n\n// Обновляем массив addresses в profile\nprofile.setValue(\"addresses\", filteredAddresses)\n\n// Возвращаем обновленную запись\nrecord","Record Writer":"694e3a4b-b5c0-3170-9338-004d2f0d9a62","Record Reader":"4a622d11-5deb-3006-b37c-cb6eda4d10bf","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Language","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"17a214ac-5a5a-3407-a47b-845895c092b2","instanceIdentifier":"36b42b8b-0194-1000-f6a6-f5ceae64b8a7","name":"GenerateFlowFile","comments":"","position":{"x":-544.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"{\n  \"profile\": {\n    \"addresses\": [\n      {\n        \"id\": \"original-da11-11eb-beb6-87ba01ce01e0\",\n        \"type\": \"13\",\n        \"begin_date\": \"2020-01-01 00:00:00.000\",\n        \"full_address\": \"ул. Петра Первого, 13, кв. 81.....\",\n        \"last_update_dt\": \"2016-11-15\",\n\t\t\"del_sign\": false\n      },\n      {\n        \"id\": \"original-da11-11eb-beb6-87ba01ce01e0\",\n        \"type\": \"11\",\n        \"begin_date\": \"2020-01-01 00:00:00.000\",\n        \"full_address\": \"наб. Обводного канала оф. 81.....\",\n        \"last_update_dt\": \"2024-12-16\",\n\t\t\"del_sign\": false\n      }\n    ],\n    \"birth_dt\": \"2000-01-01 00:00:00.000\",\n    \"cards\": [],\n    \"contacts\": [],\n    \"del_sign\": false,\n    \"documents\": [],\n    \"spec_type\": 0\n  }\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"50cddc7f-c6b5-3d04-a1ae-c6ab69823d5a","instanceIdentifier":"36bc8f4f-0194-1000-c9ff-daaf24354463","name":"","source":{"id":"8a47e612-15b9-30d7-baa4-e13a680a2816","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"JoltTransformJSON","comments":"","instanceIdentifier":"36bc54ee-0194-1000-abdf-5e8c7b09c8b7"},"destination":{"id":"75f9b066-9e77-30a7-ba15-cb193307c129","type":"FUNNEL","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"Funnel","comments":"","instanceIdentifier":"36bc7b3d-0194-1000-1479-404a36d11943"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"a89dbdb9-05be-32da-980d-36616bd44f5a","instanceIdentifier":"372cc252-0194-1000-980a-eeea6f4d9c2c","name":"","source":{"id":"c2ba8dce-ded1-3056-afda-e66c83197ee2","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"ScriptedTransformRecord","comments":"","instanceIdentifier":"372c7ccc-0194-1000-556c-804bb01fafba"},"destination":{"id":"6f84ec66-a42c-32e0-8641-d3bc6d8ee1f2","type":"FUNNEL","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"Funnel","comments":"","instanceIdentifier":"372cad96-0194-1000-163f-abc2214b4093"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"87e2204c-2247-332c-bbe7-4676cfcf7192","instanceIdentifier":"36e67da6-0194-1000-61ee-017fa90750eb","name":"","source":{"id":"81202ad0-ab57-3447-9133-02ab5ce7731f","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"36e64216-0194-1000-f4d9-adc9f018c81f"},"destination":{"id":"347d7b07-3e60-376f-aba4-7565f4c1995b","type":"FUNNEL","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"Funnel","comments":"","instanceIdentifier":"36e66b1a-0194-1000-e4b3-67326b4724c2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"fa930ca6-c174-334b-a2de-dd66d85e111a","instanceIdentifier":"36bc6bf5-0194-1000-6ae9-86fd08ff5cd5","name":"","source":{"id":"17a214ac-5a5a-3407-a47b-845895c092b2","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"GenerateFlowFile","comments":"","instanceIdentifier":"36b42b8b-0194-1000-f6a6-f5ceae64b8a7"},"destination":{"id":"8a47e612-15b9-30d7-baa4-e13a680a2816","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"JoltTransformJSON","comments":"","instanceIdentifier":"36bc54ee-0194-1000-abdf-5e8c7b09c8b7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"9ade2c3d-eee7-36a4-834c-5067f2e819a1","instanceIdentifier":"372c955c-0194-1000-c1b2-0ce149df31bc","name":"","source":{"id":"17a214ac-5a5a-3407-a47b-845895c092b2","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"GenerateFlowFile","comments":"","instanceIdentifier":"36b42b8b-0194-1000-f6a6-f5ceae64b8a7"},"destination":{"id":"c2ba8dce-ded1-3056-afda-e66c83197ee2","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"ScriptedTransformRecord","comments":"","instanceIdentifier":"372c7ccc-0194-1000-556c-804bb01fafba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"c1b4a153-0415-3abb-9672-766ac43d678b","instanceIdentifier":"36bbaa21-0194-1000-92f2-26c3d6d8dd0e","name":"","source":{"id":"f3d030cf-0d55-3058-9c77-0bee359b2a63","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"36b4b2a1-0194-1000-0ef7-0513e9b96968"},"destination":{"id":"9a2e3c4b-6886-3bca-80ce-0f97b87fccb2","type":"FUNNEL","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"Funnel","comments":"","instanceIdentifier":"36bb9639-0194-1000-e2ce-856efc955aa8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"be046114-6076-3b2e-a5bd-9d67e2d40c71","instanceIdentifier":"36e65c35-0194-1000-feaa-e2b9179f8456","name":"","source":{"id":"17a214ac-5a5a-3407-a47b-845895c092b2","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"GenerateFlowFile","comments":"","instanceIdentifier":"36b42b8b-0194-1000-f6a6-f5ceae64b8a7"},"destination":{"id":"81202ad0-ab57-3447-9133-02ab5ce7731f","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"36e64216-0194-1000-f4d9-adc9f018c81f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"c63e06ab-393c-39af-b26e-ffcb2cc1fa55","instanceIdentifier":"36b4c3e6-0194-1000-73ba-179a38a62ee5","name":"","source":{"id":"17a214ac-5a5a-3407-a47b-845895c092b2","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"GenerateFlowFile","comments":"","instanceIdentifier":"36b42b8b-0194-1000-f6a6-f5ceae64b8a7"},"destination":{"id":"f3d030cf-0d55-3058-9c77-0bee359b2a63","type":"PROCESSOR","groupId":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"36b4b2a1-0194-1000-0ef7-0513e9b96968"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"}],"labels":[],"funnels":[{"identifier":"75f9b066-9e77-30a7-ba15-cb193307c129","instanceIdentifier":"36bc7b3d-0194-1000-1479-404a36d11943","position":{"x":704.0,"y":-144.0},"componentType":"FUNNEL","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"9a2e3c4b-6886-3bca-80ce-0f97b87fccb2","instanceIdentifier":"36bb9639-0194-1000-e2ce-856efc955aa8","position":{"x":704.0,"y":-288.0},"componentType":"FUNNEL","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"347d7b07-3e60-376f-aba4-7565f4c1995b","instanceIdentifier":"36e66b1a-0194-1000-e4b3-67326b4724c2","position":{"x":704.0,"y":8.0},"componentType":"FUNNEL","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"6f84ec66-a42c-32e0-8641-d3bc6d8ee1f2","instanceIdentifier":"372cad96-0194-1000-163f-abc2214b4093","position":{"x":704.0,"y":160.0},"componentType":"FUNNEL","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"}],"controllerServices":[{"identifier":"694e3a4b-b5c0-3170-9338-004d2f0d9a62","instanceIdentifier":"372d385b-0194-1000-860d-24bdb0caa9e6","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"},{"identifier":"4a622d11-5deb-3006-b37c-cb6eda4d10bf","instanceIdentifier":"372d0f74-0194-1000-aaae-066eb05a6b59","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c9d5aa0a-42f1-3c46-b9d8-b8bfd049373a"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}