Lesson12/lesson12.json
{"flowContents":{"identifier":"124ef924-29d6-3c16-9fda-f1bda0593ae7","instanceIdentifier":"4acbd10b-0194-1000-6795-b9676f8ec422","name":"lesson12","comments":"Back Pressure & retry","position":{"x":400.0,"y":224.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bfd6caed-f589-3d72-af4f-d3053788f5e3","instanceIdentifier":"4acd520b-0194-1000-320e-0f07fb1d3eb9","name":"InvokeHTTP","comments":"","position":{"x":1328.0,"y":104.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"${my.url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["No Retry","Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"5 sec","componentType":"PROCESSOR","groupIdentifier":"124ef924-29d6-3c16-9fda-f1bda0593ae7"},{"identifier":"0f882825-ed83-3c83-8353-a03c51f2eda5","instanceIdentifier":"4af0dcc8-0194-1000-2149-0ae2e41caca0","name":"ExecuteGroovyScript","comments":"","position":{"x":1320.0,"y":-152.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"import java.util.Random\n\n// Создаем объект Random для генерации случайных чисел\nRandom random = new Random()\n\n// Генерируем случайное число от 0 до 99\nint randomValue = random.nextInt(100)\n\n// Определяем значение атрибута my.url\ndef urlValue = (randomValue == 0) ? \"https://httpbin.org/status/429\" : \"https://httpbin.org/status/200\"\n\n// Создаем новый флоуфайл\nflowFile = session.create()\n\n// Устанавливаем атрибут my.url\nflowFile = session.putAttribute(flowFile, \"my.url\", urlValue)\n\n// Передаем флоуфайл дальше\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"124ef924-29d6-3c16-9fda-f1bda0593ae7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"530a7ed2-8489-3026-a0ea-de9d63b8347d","instanceIdentifier":"4acff8ba-0194-1000-1be2-4714a3521216","name":"","source":{"id":"bfd6caed-f589-3d72-af4f-d3053788f5e3","type":"PROCESSOR","groupId":"124ef924-29d6-3c16-9fda-f1bda0593ae7","name":"InvokeHTTP","comments":"","instanceIdentifier":"4acd520b-0194-1000-320e-0f07fb1d3eb9"},"destination":{"id":"3da36bf5-3812-348b-8fd2-229be67ceea2","type":"FUNNEL","groupId":"124ef924-29d6-3c16-9fda-f1bda0593ae7","name":"Funnel","comments":"","instanceIdentifier":"4acfe6f6-0194-1000-79c6-5dbc9edc1b59"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"124ef924-29d6-3c16-9fda-f1bda0593ae7"},{"identifier":"51a646a5-f825-3ab3-9f32-7b27c97fd250","instanceIdentifier":"4af13834-0194-1000-a998-33f4be7fa744","name":"","source":{"id":"0f882825-ed83-3c83-8353-a03c51f2eda5","type":"PROCESSOR","groupId":"124ef924-29d6-3c16-9fda-f1bda0593ae7","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"4af0dcc8-0194-1000-2149-0ae2e41caca0"},"destination":{"id":"bfd6caed-f589-3d72-af4f-d3053788f5e3","type":"PROCESSOR","groupId":"124ef924-29d6-3c16-9fda-f1bda0593ae7","name":"InvokeHTTP","comments":"","instanceIdentifier":"4acd520b-0194-1000-320e-0f07fb1d3eb9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"124ef924-29d6-3c16-9fda-f1bda0593ae7"},{"identifier":"2ea7fe09-c726-359c-9f2e-89b0f126c196","instanceIdentifier":"4ad046cf-0194-1000-1611-4e653a11f0a6","name":"","source":{"id":"bfd6caed-f589-3d72-af4f-d3053788f5e3","type":"PROCESSOR","groupId":"124ef924-29d6-3c16-9fda-f1bda0593ae7","name":"InvokeHTTP","comments":"","instanceIdentifier":"4acd520b-0194-1000-320e-0f07fb1d3eb9"},"destination":{"id":"b8bfabec-3a23-3d3f-a718-a02741736a28","type":"FUNNEL","groupId":"124ef924-29d6-3c16-9fda-f1bda0593ae7","name":"Funnel","comments":"","instanceIdentifier":"4adf9d2c-0194-1000-80f4-c9c0cc284b92"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"124ef924-29d6-3c16-9fda-f1bda0593ae7"}],"labels":[],"funnels":[{"identifier":"3da36bf5-3812-348b-8fd2-229be67ceea2","instanceIdentifier":"4acfe6f6-0194-1000-79c6-5dbc9edc1b59","position":{"x":1496.0,"y":344.0},"componentType":"FUNNEL","groupIdentifier":"124ef924-29d6-3c16-9fda-f1bda0593ae7"},{"identifier":"b8bfabec-3a23-3d3f-a718-a02741736a28","instanceIdentifier":"4adf9d2c-0194-1000-80f4-c9c0cc284b92","position":{"x":944.0,"y":144.0},"componentType":"FUNNEL","groupIdentifier":"124ef924-29d6-3c16-9fda-f1bda0593ae7"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}