Basics/bigJson/Big_JSON.json
{"flowContents":{"identifier":"84d96b20-0195-1000-427e-af4965eae852","instanceIdentifier":"4479c6a0-0efa-3fc8-4036-0b8c71f6e256","name":"Big JSON","comments":"XML в JSON","position":{"x":1232.0,"y":-344.0},"processGroups":[{"identifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606","instanceIdentifier":"e4ca2b3e-95f9-3568-279d-1715ec455e33","name":"Little files","comments":"","position":{"x":-1528.0,"y":-40.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d234a4a4-0195-1000-2786-3ad11b1ce4be","instanceIdentifier":"f0bce165-5aba-337b-58aa-b04da7565efa","name":"DuplicateFlowFile","comments":"","position":{"x":-1104.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.DuplicateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Number of Copies":"9"},"propertyDescriptors":{"Number of Copies":{"name":"Number of Copies","displayName":"Number of Copies","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"},{"identifier":"d234a4a2-0195-1000-905f-3e153c98463f","instanceIdentifier":"1617b71c-cbca-3c7a-c489-dee555b3a741","name":"GenerateRecord","comments":"","position":{"x":-1104.0,"y":-592.0},"type":"org.apache.nifi.processors.standard.GenerateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"nullable-fields":"false","address":"Address.fullAddress","number-of-records":"10000","phone":"PhoneNumber.cellPhone","record-writer":"84d96b22-0195-1000-f644-6dca9a8e9d66","name":"Name.username","schema-text":null,"null-percentage":"0"},"propertyDescriptors":{"nullable-fields":{"name":"nullable-fields","displayName":"Nullable Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"address":{"name":"address","displayName":"address","identifiesControllerService":false,"sensitive":false,"dynamic":true},"number-of-records":{"name":"number-of-records","displayName":"Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"phone":{"name":"phone","displayName":"phone","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"null-percentage":{"name":"null-percentage","displayName":"Null Value Percentage","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"99w","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"},{"identifier":"d234a4a3-0195-1000-9d73-79f8a60ceea6","instanceIdentifier":"5722a653-8fe4-34b9-e499-57a38a11e9d2","name":"MergeContent","comments":"","position":{"x":-1104.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"10","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"\n]}}","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"{\n  \"id\": {\n    \"results\": [","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"10"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"},{"identifier":"d234a4a5-0195-1000-9c77-b5e3b8d3c9c6","instanceIdentifier":"ec28ea2b-e660-347e-267f-4388a6ff1eb1","name":"ExecuteGroovyScript","comments":"","position":{"x":-1104.0,"y":-456.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"import java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Читаем данные из FlowFile и сразу обрабатываем их в потоковом режиме\n    def inputStream = session.read(flowFile)\n    def reader = new BufferedReader(new InputStreamReader(inputStream, StandardCharsets.UTF_8))\n    \n    // Создаем новый FlowFile для записи результата\n    def newFlowFile = session.create(flowFile)\n    \n    try {\n        def outputStream = session.write(newFlowFile)\n        def writer = new BufferedWriter(new OutputStreamWriter(outputStream, StandardCharsets.UTF_8))\n        \n        String currentLine\n        String nextLine = reader.readLine() // Читаем первую строку\n        \n        while (nextLine != null) {\n            currentLine = nextLine\n            nextLine = reader.readLine() // Читаем следующую строку\n            \n            // Добавляем запятую, если это не последняя строка\n            if (nextLine != null) {\n                writer.write(currentLine + \",\\n\")\n            } else {\n                writer.write(currentLine + \"\\n\") // Последняя строка без запятой\n            }\n        }\n        \n        writer.flush()\n        writer.close()\n        reader.close()\n        \n        // Переносим атрибуты из исходного FlowFile\n        session.transfer(newFlowFile, REL_SUCCESS)\n        session.remove(flowFile) // Удаляем исходный FlowFile\n        \n    } catch (Exception e) {\n        log.error(\"Ошибка при обработке: ${e.message}\", e)\n        session.remove(newFlowFile) // Отменяем создание нового FlowFile в случае ошибки\n        session.transfer(flowFile, REL_FAILURE)\n    }\n    \n} catch (Exception e) {\n    log.error(\"Ошибка при чтении FlowFile: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"},{"identifier":"d23668f6-0195-1000-0847-36aa415c2cc0","instanceIdentifier":"941265ad-fd4d-331c-35db-2426378f1897","name":"DuplicateFlowFile","comments":"","position":{"x":-1104.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.DuplicateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Number of Copies":"99"},"propertyDescriptors":{"Number of Copies":{"name":"Number of Copies","displayName":"Number of Copies","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"}],"inputPorts":[],"outputPorts":[{"identifier":"d234a4a6-0195-1000-6a95-0c1bf52e3606","instanceIdentifier":"57b6411d-3089-3e75-9d8e-b310b123e2a3","name":"Output","position":{"x":-1040.0,"y":176.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"}],"connections":[{"identifier":"c33297a7-e705-3998-9926-afda6b50e731","instanceIdentifier":"d236a0d8-0195-1000-79ab-4c93a302288d","name":"","source":{"id":"d23668f6-0195-1000-0847-36aa415c2cc0","type":"PROCESSOR","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"941265ad-fd4d-331c-35db-2426378f1897"},"destination":{"id":"d234a4a6-0195-1000-6a95-0c1bf52e3606","type":"OUTPUT_PORT","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"Output","instanceIdentifier":"57b6411d-3089-3e75-9d8e-b310b123e2a3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"},{"identifier":"d234a4a7-0195-1000-bf29-00888a734bd9","instanceIdentifier":"8895dbb4-2e12-35fe-1a91-6a5596fc12cb","name":"","source":{"id":"d234a4a2-0195-1000-905f-3e153c98463f","type":"PROCESSOR","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"GenerateRecord","comments":"","instanceIdentifier":"1617b71c-cbca-3c7a-c489-dee555b3a741"},"destination":{"id":"d234a4a5-0195-1000-9c77-b5e3b8d3c9c6","type":"PROCESSOR","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"ec28ea2b-e660-347e-267f-4388a6ff1eb1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-592.0,"y":-456.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"},{"identifier":"d234a4a9-0195-1000-bad9-827dd85c8d5a","instanceIdentifier":"71cb6177-718c-3411-62bd-ba4e38a41c17","name":"","source":{"id":"d234a4a5-0195-1000-9c77-b5e3b8d3c9c6","type":"PROCESSOR","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"ec28ea2b-e660-347e-267f-4388a6ff1eb1"},"destination":{"id":"d234a4a4-0195-1000-2786-3ad11b1ce4be","type":"PROCESSOR","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"f0bce165-5aba-337b-58aa-b04da7565efa"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-616.0,"y":-320.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"},{"identifier":"d234a4aa-0195-1000-117c-68de693f800c","instanceIdentifier":"e959264c-a5b9-31aa-4528-7bfafa3343e4","name":"","source":{"id":"d234a4a3-0195-1000-9d73-79f8a60ceea6","type":"PROCESSOR","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"MergeContent","comments":"","instanceIdentifier":"5722a653-8fe4-34b9-e499-57a38a11e9d2"},"destination":{"id":"d23668f6-0195-1000-0847-36aa415c2cc0","type":"PROCESSOR","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"941265ad-fd4d-331c-35db-2426378f1897"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-608.0,"y":-40.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"},{"identifier":"d234a4a8-0195-1000-fd5b-b3bc540fa395","instanceIdentifier":"e2c7bbad-7f3a-3edc-63d0-df39f575651d","name":"","source":{"id":"d234a4a4-0195-1000-2786-3ad11b1ce4be","type":"PROCESSOR","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"f0bce165-5aba-337b-58aa-b04da7565efa"},"destination":{"id":"d234a4a3-0195-1000-9d73-79f8a60ceea6","type":"PROCESSOR","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"MergeContent","comments":"","instanceIdentifier":"5722a653-8fe4-34b9-e499-57a38a11e9d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-616.0,"y":-184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d234a4a1-0195-1000-5b1f-a29eefd9c606"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"ceb87ca3-3020-347d-b024-78b7fb600c93","instanceIdentifier":"d2339409-0195-1000-3b1b-3d8412389ff7","name":"Big file","comments":"","position":{"x":-1136.0,"y":-40.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c172318c-d73d-344b-9101-35ef1a6a4a75","instanceIdentifier":"cf6be667-0195-1000-dd11-847cc5d3dba5","name":"GenerateRecord","comments":"","position":{"x":-1104.0,"y":-592.0},"type":"org.apache.nifi.processors.standard.GenerateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"nullable-fields":"false","address":"Address.fullAddress","number-of-records":"10000","phone":"PhoneNumber.cellPhone","record-writer":"84d96b22-0195-1000-f644-6dca9a8e9d66","name":"Name.username","schema-text":null,"null-percentage":"0"},"propertyDescriptors":{"nullable-fields":{"name":"nullable-fields","displayName":"Nullable Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"address":{"name":"address","displayName":"address","identifiesControllerService":false,"sensitive":false,"dynamic":true},"number-of-records":{"name":"number-of-records","displayName":"Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"phone":{"name":"phone","displayName":"phone","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"null-percentage":{"name":"null-percentage","displayName":"Null Value Percentage","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"99w","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ceb87ca3-3020-347d-b024-78b7fb600c93"},{"identifier":"a2630eca-d12d-3c4a-bd42-bb0fce899c05","instanceIdentifier":"cf791ac3-0195-1000-0be2-bcb37e431ace","name":"MergeContent","comments":"","position":{"x":-1104.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"500","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"\n]}}","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"{\n  \"id\": {\n    \"results\": [","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"500"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ceb87ca3-3020-347d-b024-78b7fb600c93"},{"identifier":"5bb31ecc-19a5-3b48-8ed1-19ff43d35505","instanceIdentifier":"cf6f1b22-0195-1000-617d-586fe034c441","name":"DuplicateFlowFile","comments":"","position":{"x":-1104.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.DuplicateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Number of Copies":"499"},"propertyDescriptors":{"Number of Copies":{"name":"Number of Copies","displayName":"Number of Copies","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ceb87ca3-3020-347d-b024-78b7fb600c93"},{"identifier":"ea675b42-5cd2-33e2-a9d9-63db45b3a3b1","instanceIdentifier":"cf76d877-0195-1000-30e1-4635f5842266","name":"ExecuteGroovyScript","comments":"","position":{"x":-1104.0,"y":-456.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"import java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Читаем данные из FlowFile и сразу обрабатываем их в потоковом режиме\n    def inputStream = session.read(flowFile)\n    def reader = new BufferedReader(new InputStreamReader(inputStream, StandardCharsets.UTF_8))\n    \n    // Создаем новый FlowFile для записи результата\n    def newFlowFile = session.create(flowFile)\n    \n    try {\n        def outputStream = session.write(newFlowFile)\n        def writer = new BufferedWriter(new OutputStreamWriter(outputStream, StandardCharsets.UTF_8))\n        \n        String currentLine\n        String nextLine = reader.readLine() // Читаем первую строку\n        \n        while (nextLine != null) {\n            currentLine = nextLine\n            nextLine = reader.readLine() // Читаем следующую строку\n            \n            // Добавляем запятую, если это не последняя строка\n            if (nextLine != null) {\n                writer.write(currentLine + \",\\n\")\n            } else {\n                writer.write(currentLine + \"\\n\") // Последняя строка без запятой\n            }\n        }\n        \n        writer.flush()\n        writer.close()\n        reader.close()\n        \n        // Переносим атрибуты из исходного FlowFile\n        session.transfer(newFlowFile, REL_SUCCESS)\n        session.remove(flowFile) // Удаляем исходный FlowFile\n        \n    } catch (Exception e) {\n        log.error(\"Ошибка при обработке: ${e.message}\", e)\n        session.remove(newFlowFile) // Отменяем создание нового FlowFile в случае ошибки\n        session.transfer(flowFile, REL_FAILURE)\n    }\n    \n} catch (Exception e) {\n    log.error(\"Ошибка при чтении FlowFile: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ceb87ca3-3020-347d-b024-78b7fb600c93"}],"inputPorts":[],"outputPorts":[{"identifier":"ea11237a-9d32-3252-94ad-9ecb22988add","instanceIdentifier":"d2340548-0195-1000-1af6-cc06a4054d99","name":"Output","position":{"x":-1048.0,"y":40.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"ceb87ca3-3020-347d-b024-78b7fb600c93"}],"connections":[{"identifier":"c347cc3f-7d68-36a2-9128-ee6880417706","instanceIdentifier":"cf6e45f1-0195-1000-9f0a-5a2e586d3107","name":"","source":{"id":"c172318c-d73d-344b-9101-35ef1a6a4a75","type":"PROCESSOR","groupId":"ceb87ca3-3020-347d-b024-78b7fb600c93","name":"GenerateRecord","comments":"","instanceIdentifier":"cf6be667-0195-1000-dd11-847cc5d3dba5"},"destination":{"id":"ea675b42-5cd2-33e2-a9d9-63db45b3a3b1","type":"PROCESSOR","groupId":"ceb87ca3-3020-347d-b024-78b7fb600c93","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"cf76d877-0195-1000-30e1-4635f5842266"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-592.0,"y":-456.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ceb87ca3-3020-347d-b024-78b7fb600c93"},{"identifier":"d1e1dc37-295a-380e-9c35-8b5214cf8b02","instanceIdentifier":"cf7928d5-0195-1000-7757-19dcf676d9c7","name":"","source":{"id":"5bb31ecc-19a5-3b48-8ed1-19ff43d35505","type":"PROCESSOR","groupId":"ceb87ca3-3020-347d-b024-78b7fb600c93","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"cf6f1b22-0195-1000-617d-586fe034c441"},"destination":{"id":"a2630eca-d12d-3c4a-bd42-bb0fce899c05","type":"PROCESSOR","groupId":"ceb87ca3-3020-347d-b024-78b7fb600c93","name":"MergeContent","comments":"","instanceIdentifier":"cf791ac3-0195-1000-0be2-bcb37e431ace"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-616.0,"y":-184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ceb87ca3-3020-347d-b024-78b7fb600c93"},{"identifier":"0afd751c-8c8c-3401-86cb-36581c698e4f","instanceIdentifier":"cf774de3-0195-1000-30a3-84728325e672","name":"","source":{"id":"ea675b42-5cd2-33e2-a9d9-63db45b3a3b1","type":"PROCESSOR","groupId":"ceb87ca3-3020-347d-b024-78b7fb600c93","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"cf76d877-0195-1000-30e1-4635f5842266"},"destination":{"id":"5bb31ecc-19a5-3b48-8ed1-19ff43d35505","type":"PROCESSOR","groupId":"ceb87ca3-3020-347d-b024-78b7fb600c93","name":"DuplicateFlowFile","comments":"","instanceIdentifier":"cf6f1b22-0195-1000-617d-586fe034c441"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-616.0,"y":-320.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ceb87ca3-3020-347d-b024-78b7fb600c93"},{"identifier":"9a04ed67-78fa-36b1-850c-f17608112a7b","instanceIdentifier":"d2342bb0-0195-1000-109b-7eb3f507cac1","name":"","source":{"id":"a2630eca-d12d-3c4a-bd42-bb0fce899c05","type":"PROCESSOR","groupId":"ceb87ca3-3020-347d-b024-78b7fb600c93","name":"MergeContent","comments":"","instanceIdentifier":"cf791ac3-0195-1000-0be2-bcb37e431ace"},"destination":{"id":"ea11237a-9d32-3252-94ad-9ecb22988add","type":"OUTPUT_PORT","groupId":"ceb87ca3-3020-347d-b024-78b7fb600c93","name":"Output","instanceIdentifier":"d2340548-0195-1000-1af6-cc06a4054d99"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ceb87ca3-3020-347d-b024-78b7fb600c93"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"}],"remoteProcessGroups":[],"processors":[{"identifier":"84d96b24-0195-1000-626f-ff703985dcbf","instanceIdentifier":"11010d51-4519-3643-504f-43f9105c1f39","name":"ExecuteGroovyScript","comments":"","position":{"x":112.0,"y":-464.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"import groovy.xml.XmlSlurper\nimport groovy.json.JsonBuilder\nimport groovy.json.JsonGenerator\n\n// Универсальная функция для сравнения путей\ndef isPathMatch(jsonPath, targetPaths) {\n    def isMatch = targetPaths.contains(\"|${jsonPath}|\")\n    if (log.isDebugEnabled()) {\n        log.debug(\"${jsonPath} | Исключительный: ${isMatch}\")\n    }\n    return isMatch\n}\n\n// Функция для преобразования значения в соответствующий тип\ndef castValue(value, jsonPath, skipCastingPaths, commaSeparator) {\n    // Если путь указан в исключениях, возвращаем значение как строку\n    if (isPathMatch(jsonPath, skipCastingPaths)) {\n        if (log.isInfoEnabled()) {\n            log.info(\"Элемент ${jsonPath} | Значение \\\"${value}\\\" | Исключительный\")\n        }\n        return value\n    }\n\n    // Если значение null, пустая строка или строка \"null\", возвращаем null\n    if (value == null || value.toString().trim().isEmpty() || value.toString().trim().toLowerCase() == \"null\") {\n        if (log.isInfoEnabled()) {\n            log.info(\"Элемент ${jsonPath} | Значение null | Преобразован в null\")\n        }\n        return null // Возвращаем настоящий null\n    }\n\n    // Попытка преобразовать в integer\n    if (value.toString().isInteger()) {\n        if (log.isInfoEnabled()) {\n            log.info(\"Элемент ${jsonPath} | Значение ${value} | Преобразован в integer\")\n        }\n        return value.toInteger()\n    }\n\n    // Попытка преобразовать в double с учетом разделителя\n    try {\n        // Заменяем разделитель на точку, если используется запятая\n        def normalizedValue = commaSeparator == \",\" ? value.toString().replace(\",\", \".\") : value.toString()\n        if (normalizedValue.isDouble()) {\n            if (log.isInfoEnabled()) {\n                log.info(\"Элемент ${jsonPath} | Значение ${value} | Преобразован в double\")\n            }\n            return normalizedValue.toDouble()\n        }\n    } catch (Exception e) {\n        // Если преобразование не удалось, продолжаем\n    }\n\n    // Попытка преобразовать в boolean\n    if (value.toString().toLowerCase() in [\"true\", \"false\"]) {\n        if (log.isInfoEnabled()) {\n            log.info(\"Элемент ${jsonPath} | Значение ${value} | Преобразован в boolean\")\n        }\n        return value.toString().toBoolean()\n    }\n\n    // Если не удалось преобразовать, возвращаем как строку\n    if (log.isInfoEnabled()) {\n        log.info(\"Элемент ${jsonPath} | Значение \\\"${value}\\\"\")\n    }\n    return value\n}\n\n// Функция для рекурсивной обработки XML\ndef processXml(node, jsonPath, skipCastingPaths, commaSeparator, forceArrayPaths) {\n    if (log.isInfoEnabled()) {\n        log.info(\"\\n\\n-----> ${jsonPath}\")\n    }\n\n    // Если элемент пустой, возвращаем null\n    if (node.children().isEmpty() && node.attributes().isEmpty()) {\n        def value = node.text() ?: null\n        return castValue(value, jsonPath, skipCastingPaths, commaSeparator)\n    }\n\n    // Если элемент содержит только текстовое значение и не имеет атрибутов\n    if (node.children().size() == 1 && node.children()[0] instanceof String && node.attributes().isEmpty()) {\n        def value = node.text()\n        return castValue(value, jsonPath, skipCastingPaths, commaSeparator)\n    }\n\n    // Обработка сложных элементов (с атрибутами или вложенными элементами)\n    def result = [:]\n\n    // Обработка атрибутов\n    node.attributes().each { attrName, attrValue ->\n        result[attrName] = castValue(attrValue, \"${jsonPath}.@${attrName}\", skipCastingPaths, commaSeparator)\n    }\n\n    // Обработка дочерних элементов\n    node.children().each { child ->\n        def childName = child.name()\n        def childPath = \"${jsonPath}.${childName}\"\n        def childValue = processXml(child, childPath, skipCastingPaths, commaSeparator, forceArrayPaths)\n\n        if (result[childName] == null) {\n            // Если элемент добавляется впервые, проверяем, нужно ли его сразу преобразовать в массив\n            if (isPathMatch(\"${jsonPath}.${childName}\", forceArrayPaths)) {\n                result[childName] = [childValue] // Преобразуем в массив\n\t\t\t\tif (log.isInfoEnabled()) {\n                    log.info(\"\\n!!! Элемент ${jsonPath}.${childName} | Принудительно преобразован в массив при первом добавлении\")\n\t\t\t\t}\n            } else {\n                result[childName] = childValue // Оставляем как одиночный элемент\n            }\n        } else {\n            // Если элемент уже существует, преобразуем его в массив (если он еще не массив)\n            if (!(result[childName] instanceof List)) {\n                result[childName] = [result[childName]]\n            }\n            result[childName] << childValue // Добавляем новый элемент в массив\n        }\n    }\n\n    return result\n}\n\n// Получение FlowFile\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Получение динамического атрибута skip_casting\n\tdef skipCasting = skip_casting.value\n    def skipCastingPaths = \"|\" + skipCasting\n        .trim() // Удаляем пробелы в начале и конце\n        .replaceAll(\"\\\\s+\", \"|\") + \"|\" // Заменяем пробелы и переносы строк на |\n    if (log.isInfoEnabled()) {\n\t\tlog.info(\"\\n\\n-=========================================-\")\n        log.info(\"Поля для пропуска преобразования: ${skipCastingPaths}\")\n    }\n\n    // Получение динамического атрибута comma_separator\n    def commaSeparator = comma_separator.value ?: \".\" // По умолчанию точка\n    if (log.isInfoEnabled()) {\n        log.info(\"Используемый разделитель для чисел: ${commaSeparator}\")\n    }\n\n    // Получение динамического атрибута force_array\n    def forceArray = force_array.value\n    def forceArrayPaths = \"|\" + forceArray\n\t    .trim()\n        .replaceAll(\"\\\\s+\", \"|\") + \"|\" \n    if (log.isInfoEnabled()) {\n        log.info(\"Поля для принудительного преобразования в массив: ${forceArrayPaths}\") // Вывод в кавычках\n    }\n\n    // Обработка FlowFile\n    flowFile = session.write(flowFile, { inputStream, outputStream ->\n        try {\n            // Парсинг XML\n            def xmlSlurper = new XmlSlurper()\n            xmlSlurper.setFeature(\"http://apache.org/xml/features/nonvalidating/load-external-dtd\", false)\n            def xml = xmlSlurper.parse(inputStream)\n\n            // Обработка XML и преобразование в JSON\n            def jsonMap = [:]\n            jsonMap[xml.name()] = processXml(xml, \"\\$.${xml.name()}\", skipCastingPaths, commaSeparator, forceArrayPaths)\n\n            // Отключение экранирования Unicode\n            def generator = new JsonGenerator.Options()\n                .disableUnicodeEscaping()\n                .build()\n\n            // Преобразование JSON в строку\n            def jsonString = generator.toJson(jsonMap)\n\n            // Запись JSON в выходной поток\n            outputStream.write(jsonString.getBytes(\"UTF-8\"))\n        } catch (Exception e) {\n            log.error(\"Ошибка при обработке FlowFile: ${e.message}\", e)\n        }\n    } as StreamCallback)\n\n    // Установка MIME-типа FlowFile в application/json\n    flowFile = session.putAttribute(flowFile, \"mime.type\", \"application/json\")\n\n    // Перенаправление FlowFile в успешный выход\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    // Обработка ошибок\n    log.error(\"Ошибка при обработке FlowFile: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"force_array":" ","comma_separator":".","skip_casting":" ","groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"force_array":{"name":"force_array","displayName":"force_array","identifiesControllerService":false,"sensitive":false,"dynamic":true},"comma_separator":{"name":"comma_separator","displayName":"comma_separator","identifiesControllerService":false,"sensitive":false,"dynamic":true},"skip_casting":{"name":"skip_casting","displayName":"skip_casting","identifiesControllerService":false,"sensitive":false,"dynamic":true},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"14ebfee3-ebfc-34be-afb9-d17c979d2eae","instanceIdentifier":"cf88badc-0195-1000-d055-d94c0ef93ac8","name":"ExecuteGroovyScript","comments":"","position":{"x":-584.0,"y":168.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"@Grab('com.fasterxml.jackson.core:jackson-core:2.13.0')\n@Grab('com.fasterxml.jackson.core:jackson-databind:2.13.0')\n\nimport com.fasterxml.jackson.core.JsonFactory\nimport com.fasterxml.jackson.core.JsonToken\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef newFlowFile = session.create(flowFile)\n\ntry {\n    session.read(flowFile).withStream { rawInputStream ->\n        def jsonFactory = new JsonFactory()\n        def parser = jsonFactory.createParser(rawInputStream)\n        def objectMapper = new com.fasterxml.jackson.databind.ObjectMapper()\n        parser.codec = objectMapper\n        \n        session.write(newFlowFile).withStream { outputStream ->\n            def writer = new BufferedWriter(new OutputStreamWriter(outputStream, StandardCharsets.UTF_8))\n            \n            def inResultsArray = false\n            def firstItem = true\n            def inIdField = false\n            \n            while (parser.nextToken() != null) {\n                def token = parser.currentToken()\n                \n                // Отслеживаем поле \"id\"\n                if (token == JsonToken.FIELD_NAME && parser.getCurrentName() == \"id\") {\n                    inIdField = true\n                }\n                \n                // После поля \"id\" ищем \"results\"\n                if (inIdField && token == JsonToken.FIELD_NAME && parser.getCurrentName() == \"results\") {\n                    parser.nextToken() // Переходим к START_ARRAY\n                    inResultsArray = true\n                    inIdField = false\n                }\n                \n                // Обработка элементов массива results\n                if (inResultsArray) {\n                    if (token == JsonToken.START_OBJECT) {\n                        if (!firstItem) {\n                            writer.newLine() // Добавляем перенос между объектами\n                        }\n                        firstItem = false\n                        \n                        // Читаем и записываем объект в одну строку\n                        def node = parser.readValueAsTree()\n                        writer.write(objectMapper.writeValueAsString(node))\n                    }\n                    \n                    if (token == JsonToken.END_ARRAY) {\n                        inResultsArray = false\n                    }\n                }\n            }\n            writer.flush()\n        }\n        parser.close()\n    }\n    \n    session.transfer(newFlowFile, REL_SUCCESS)\n    session.remove(flowFile)\n    \n} catch (Exception e) {\n    log.error(\"Ошибка обработки JSON: ${e.message}\", e)\n    session.remove(newFlowFile)\n    session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"f6e7cb8b-433b-35b0-9e57-cc01d1f15055","instanceIdentifier":"cf9b6737-0195-1000-c637-0727e86cd2f8","name":"ConvertRecord","comments":"","position":{"x":-584.0,"y":304.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"84d96b22-0195-1000-f644-6dca9a8e9d66","Record Reader":"c8fb6ae7-2356-3010-a80b-197e988d4ac6"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"7914a426-fc4a-375b-ade9-e7220017e159","instanceIdentifier":"cfbf32e2-0195-1000-eb50-3b3646e62b0a","name":"JSLTTransformJSON","comments":"","position":{"x":-584.0,"y":712.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.1.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"[for (.id.results) .]","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"EACH_OBJECT"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"e509e338-8a65-3470-abe1-a9ffcf6df3da","instanceIdentifier":"cf7c6af5-0195-1000-353d-9b97ce9f9eb1","name":"EvaluateJsonPath","comments":"","position":{"x":-584.0,"y":32.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Destination":"flowfile-content","Max String Length":"20 MB","array":"$.id.results","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"array":{"name":"array","displayName":"array","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"517aae50-d035-349e-b7af-6e77aed372c0","instanceIdentifier":"cfad7d2c-0195-1000-0233-17f14efc886c","name":"ExecuteStreamCommand","comments":"","position":{"x":-584.0,"y":440.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":null,"Command Path":"wsl","Output Destination Attribute":null,"Argument Delimiter":" ","Ignore STDIN":"false","Command Arguments":"-d Ubuntu bash -c \"jq -c '.id.results'\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"372bfd08-e9c9-37a3-8e39-f7f7657ba807","instanceIdentifier":"cfbc983b-0195-1000-58f9-3cf318e457fd","name":"JoltTransformJSON","comments":"","position":{"x":-584.0,"y":576.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.1.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"5 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": {\n        \"results\": \"\"\n      }\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"10 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"f87feeb7-0195-1000-5b09-d8d79338cad2","instanceIdentifier":"2f3c45f0-72bf-3c34-1f19-2aacf9715d30","name":"ExecuteGroovyScript","comments":"","position":{"x":-592.0,"y":-112.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"@Grab('com.fasterxml.jackson.core:jackson-core:2.13.0')\n@Grab('com.fasterxml.jackson.core:jackson-databind:2.13.0')\n\nimport com.fasterxml.jackson.core.JsonFactory\nimport com.fasterxml.jackson.core.JsonToken\nimport com.fasterxml.jackson.databind.ObjectMapper\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef newFlowFile = session.create(flowFile)\n\ntry {\n    session.read(flowFile).withStream { rawInputStream ->\n        def jsonFactory = new JsonFactory()\n        def parser = jsonFactory.createParser(rawInputStream)\n        def objectMapper = new ObjectMapper()\n        parser.codec = objectMapper\n\n        session.write(newFlowFile).withStream { outputStream ->\n            def writer = new BufferedWriter(new OutputStreamWriter(outputStream, StandardCharsets.UTF_8))\n            boolean inResultsArray = false\n\n            while (parser.nextToken() != null) {\n                // Ищем поле \"results\"\n                if (parser.currentToken() == JsonToken.FIELD_NAME && parser.getCurrentName() == \"results\") {\n                    parser.nextToken() // Переходим к START_ARRAY\n                    inResultsArray = true\n                }\n\n                // Обрабатываем элементы массива results\n                if (inResultsArray) {\n                    if (parser.currentToken() == JsonToken.START_OBJECT) {\n                        // Читаем объект и записываем его в выходной поток\n                        writer.write(objectMapper.writeValueAsString(parser.readValueAsTree()))\n                        writer.newLine() // Добавляем новую строку после каждого объекта\n                    } else if (parser.currentToken() == JsonToken.END_ARRAY) {\n                        break // Завершаем обработку после массива results\n                    }\n                }\n            }\n            writer.flush()\n        }\n        parser.close()\n    }\n\n    session.transfer(newFlowFile, REL_SUCCESS)\n    session.remove(flowFile)\n} catch (Exception e) {\n    log.error(\"Ошибка обработки JSON: ${e.message}\", e)\n    session.remove(newFlowFile)\n    session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"38b562ab-c589-3f3a-bf48-b5a385a3f5cb","instanceIdentifier":"d2353730-0195-1000-6d70-7ea5dac7fca2","name":"","source":{"id":"d234a4a6-0195-1000-6a95-0c1bf52e3606","type":"OUTPUT_PORT","groupId":"d234a4a1-0195-1000-5b1f-a29eefd9c606","name":"Output","instanceIdentifier":"57b6411d-3089-3e75-9d8e-b310b123e2a3"},"destination":{"id":"a23b0183-c0ea-3fe6-8f8b-e60c54df2d1c","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"cf6e37fc-0195-1000-109f-65358e68e0ab"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"8c306457-f0c8-370f-81a0-960f40b41490","instanceIdentifier":"cf8ac220-0195-1000-6ea5-be6218972d73","name":"","source":{"id":"14ebfee3-ebfc-34be-afb9-d17c979d2eae","type":"PROCESSOR","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"cf88badc-0195-1000-d055-d94c0ef93ac8"},"destination":{"id":"84d96b28-0195-1000-3e73-04823844ed20","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"9e8bff27-e125-3e90-d3b5-d15d80b6379a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1.1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"f87feeb9-0195-1000-ea9f-280ba02d1460","instanceIdentifier":"baf1d230-9d91-3644-4f8a-73abac62b8d9","name":"","source":{"id":"f87feeb7-0195-1000-5b09-d8d79338cad2","type":"PROCESSOR","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"2f3c45f0-72bf-3c34-1f19-2aacf9715d30"},"destination":{"id":"f87feeb8-0195-1000-1a5a-941cd8f2820d","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"2acb8323-09f5-3d11-40eb-94554f617dd5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1.1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"84d96b2d-0195-1000-b072-f466e77c571a","instanceIdentifier":"d0589310-aa5a-3935-3b3c-7432c63e5b3d","name":"","source":{"id":"84d96b24-0195-1000-626f-ff703985dcbf","type":"PROCESSOR","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"11010d51-4519-3643-504f-43f9105c1f39"},"destination":{"id":"84d96b29-0195-1000-d22d-026cbe5d1b47","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"d7f0774e-288f-32c3-bd6e-0f6ff171eb0a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"c905d5df-f17a-37ce-9dbf-8f4bd77ab7ed","instanceIdentifier":"d2ea9f95-0195-1000-a348-d0c214bc6c4e","name":"","source":{"id":"a23b0183-c0ea-3fe6-8f8b-e60c54df2d1c","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"cf6e37fc-0195-1000-109f-65358e68e0ab"},"destination":{"id":"f87feeb7-0195-1000-5b09-d8d79338cad2","type":"PROCESSOR","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"2f3c45f0-72bf-3c34-1f19-2aacf9715d30"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"3cc55893-4699-3b07-a4d1-b46f4c793202","instanceIdentifier":"cfbcc673-0195-1000-f251-7416acc4c9ac","name":"","source":{"id":"372bfd08-e9c9-37a3-8e39-f7f7657ba807","type":"PROCESSOR","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"JoltTransformJSON","comments":"","instanceIdentifier":"cfbc983b-0195-1000-58f9-3cf318e457fd"},"destination":{"id":"b55427e1-bacf-3157-9c63-5aba511f1b1c","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"cfbcb14b-0195-1000-3b25-b88a6135c730"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1.1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"ecb95a3f-7054-3f74-80bd-0a288f54a065","instanceIdentifier":"cfbf5f64-0195-1000-c12c-1cf69a50124c","name":"","source":{"id":"7914a426-fc4a-375b-ade9-e7220017e159","type":"PROCESSOR","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"cfbf32e2-0195-1000-eb50-3b3646e62b0a"},"destination":{"id":"932f15d6-8ca5-37b8-9cda-b23adf6c367c","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"cfbf4c32-0195-1000-63c0-608f5a656da8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1.1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"c8da9c84-440b-37a0-88e1-f6969ae8f918","instanceIdentifier":"cf9ba6ee-0195-1000-6ac9-1cf0bc9adc86","name":"","source":{"id":"f6e7cb8b-433b-35b0-9e57-cc01d1f15055","type":"PROCESSOR","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"ConvertRecord","comments":"","instanceIdentifier":"cf9b6737-0195-1000-c637-0727e86cd2f8"},"destination":{"id":"c6d1656b-47b2-39bd-a156-d3079b2b54e3","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"cf9b907f-0195-1000-753d-160e81ef3722"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1.1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"3e5fb48c-dcb0-3413-9964-53bad575e1c4","instanceIdentifier":"cf7e2d3c-0195-1000-8dd7-772fee600bd7","name":"","source":{"id":"e509e338-8a65-3470-abe1-a9ffcf6df3da","type":"PROCESSOR","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cf7c6af5-0195-1000-353d-9b97ce9f9eb1"},"destination":{"id":"84d96b27-0195-1000-6668-c88e40b62cd9","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"59310bfc-b680-343c-ead6-0412afbe3fa7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1.1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"b58433be-aaa1-3e56-8b56-9588b6154ba8","instanceIdentifier":"d235263e-0195-1000-f9ff-82b4eed3343b","name":"","source":{"id":"ea11237a-9d32-3252-94ad-9ecb22988add","type":"OUTPUT_PORT","groupId":"ceb87ca3-3020-347d-b024-78b7fb600c93","name":"Output","instanceIdentifier":"d2340548-0195-1000-1af6-cc06a4054d99"},"destination":{"id":"a23b0183-c0ea-3fe6-8f8b-e60c54df2d1c","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"cf6e37fc-0195-1000-109f-65358e68e0ab"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"894f7bbf-3e39-3cc8-953a-e89eaf571298","instanceIdentifier":"cfadd4da-0195-1000-83b1-5ab71dc3d535","name":"","source":{"id":"517aae50-d035-349e-b7af-6e77aed372c0","type":"PROCESSOR","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"cfad7d2c-0195-1000-0233-17f14efc886c"},"destination":{"id":"533f0542-382a-3eaa-a3e4-e2fdda5ae9a5","type":"FUNNEL","groupId":"84d96b20-0195-1000-427e-af4965eae852","name":"Funnel","comments":"","instanceIdentifier":"cfadae96-0195-1000-3fd6-ab082e181445"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1.1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"}],"labels":[],"funnels":[{"identifier":"b55427e1-bacf-3157-9c63-5aba511f1b1c","instanceIdentifier":"cfbcb14b-0195-1000-3b25-b88a6135c730","position":{"x":144.0,"y":616.0},"componentType":"FUNNEL","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"932f15d6-8ca5-37b8-9cda-b23adf6c367c","instanceIdentifier":"cfbf4c32-0195-1000-63c0-608f5a656da8","position":{"x":152.0,"y":752.0},"componentType":"FUNNEL","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"c6d1656b-47b2-39bd-a156-d3079b2b54e3","instanceIdentifier":"cf9b907f-0195-1000-753d-160e81ef3722","position":{"x":136.0,"y":344.0},"componentType":"FUNNEL","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"84d96b27-0195-1000-6668-c88e40b62cd9","instanceIdentifier":"59310bfc-b680-343c-ead6-0412afbe3fa7","position":{"x":136.0,"y":72.0},"componentType":"FUNNEL","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"f87feeb8-0195-1000-1a5a-941cd8f2820d","instanceIdentifier":"2acb8323-09f5-3d11-40eb-94554f617dd5","position":{"x":96.0,"y":-96.0},"componentType":"FUNNEL","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"a23b0183-c0ea-3fe6-8f8b-e60c54df2d1c","instanceIdentifier":"cf6e37fc-0195-1000-109f-65358e68e0ab","position":{"x":-1112.0,"y":440.0},"componentType":"FUNNEL","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"84d96b28-0195-1000-3e73-04823844ed20","instanceIdentifier":"9e8bff27-e125-3e90-d3b5-d15d80b6379a","position":{"x":136.0,"y":208.0},"componentType":"FUNNEL","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"84d96b29-0195-1000-d22d-026cbe5d1b47","instanceIdentifier":"d7f0774e-288f-32c3-bd6e-0f6ff171eb0a","position":{"x":712.0,"y":-424.0},"componentType":"FUNNEL","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"533f0542-382a-3eaa-a3e4-e2fdda5ae9a5","instanceIdentifier":"cfadae96-0195-1000-3fd6-ab082e181445","position":{"x":136.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"}],"controllerServices":[{"identifier":"84d96b22-0195-1000-f644-6dca9a8e9d66","instanceIdentifier":"2e75322a-68d0-3a60-0e96-9610fa282168","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"84d96b21-0195-1000-a007-23f27dce219d","instanceIdentifier":"a1752f35-86b2-3fca-2ec3-06267c49d6de","name":"XMLReader","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"parse_xml_attributes":"true","record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parse_xml_attributes":{"name":"parse_xml_attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"},{"identifier":"c8fb6ae7-2356-3010-a80b-197e988d4ac6","instanceIdentifier":"cf9c96dd-0195-1000-a5aa-395501b13c7b","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"NESTED_FIELD","schema-registry":null,"starting-field-name":"results","Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"84d96b20-0195-1000-427e-af4965eae852"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}