Basics/Lesson8/lesson8.json
{"flowContents":{"identifier":"02308c43-1435-36ca-a0cc-baeafe653168","instanceIdentifier":"36f3693a-0194-1000-1fbb-68c0eb965321","name":"lesson8","comments":"Unescape JSON","position":{"x":-48.0,"y":224.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"187b3d71-75d5-3b3a-8a90-95e2094fa789","instanceIdentifier":"96921940-0195-1000-1cfe-5e0e183ba707","name":"UpdateRecord","comments":"","position":{"x":-208.0,"y":72.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"/contactInfo[*]/value":"unescapeJson(/contactInfo[*]/valueJSON)","Record Writer":"db2f4208-8522-3224-ac28-7e9370b0a803","Record Reader":"c9b39262-44fc-35be-bbf5-e2fcc4e25c45","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/contactInfo[*]/value":{"name":"/contactInfo[*]/value","displayName":"/contactInfo[*]/value","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"15cffafd-6dde-3545-95c7-30fdf6d5f332","instanceIdentifier":"374c498a-0194-1000-b7be-7588795f0667","name":"GenerateFlowFile","comments":"","position":{"x":-816.0,"y":-208.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"{\n  \"type\": \"Справочник.ФизическиеЛица\",\n  \"deletionMark\": \"false\",\n  \"contactInfo\": [\n    {\n      \"type\": \"Телефон\",\n      \"valueJSON\": \"{\\r\\n\\\"value\\\": \\\"+799990799099\\\",\\r\\n\\\"type\\\": \\\"Телефон\\\",\\r\\n\\\"countryCode\\\": \\\"7\\\"\\r\\n}\"\n    }\n  ]\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"fe20df9b-6af4-3026-8841-6d30e7120f35","instanceIdentifier":"374d2021-0194-1000-b48a-60598da37f01","name":"JSLTTransformJSON","comments":"","position":{"x":-208.0,"y":-208.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.1.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"{\n  \"type\": .type,\n  \"deletionMark\": .deletionMark,\n  \"contactInfo\": [ for (.contactInfo)\n                       from-json(.valueJSON)\n                 ]\n}","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"EACH_OBJECT"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"ad9f4c9e-9acb-38f8-b113-980c57a75cc1","instanceIdentifier":"36f442e4-0194-1000-a9a0-9bc9d40c328b","name":"ExecuteGroovyScript","comments":"","position":{"x":-208.0,"y":-72.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n  flowFile = session.write(flowFile, { rawIn, rawOut ->\n    def parsedJson = new JsonSlurper().parse(rawIn, 'UTF-8')\n\n    parsedJson.contactInfo = parsedJson.contactInfo.collect { item ->\n    if (item.valueJSON) {\n        item = new JsonSlurper().parseText(item.valueJSON)\n        item\n      }\n    }\n\n    def outputJson = JsonOutput.toJson(parsedJson)\n    rawOut.withWriter('UTF-8') { it.write(outputJson) }\n  } as StreamCallback)\n\n  session.transfer(flowFile, REL_SUCCESS)\n} catch (ex) {\n  flowFile = session.putAttribute(flowFile, \"script.error_message\", ex.getMessage())\n  flowFile = session.putAttribute(flowFile, \"script.error\", ex.toString())\n  session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2dd27dc0-cf3d-3937-8dba-3fe6e45308e5","instanceIdentifier":"374d32a5-0194-1000-dd1b-fea3798005bb","name":"","source":{"id":"15cffafd-6dde-3545-95c7-30fdf6d5f332","type":"PROCESSOR","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"GenerateFlowFile","comments":"","instanceIdentifier":"374c498a-0194-1000-b7be-7588795f0667"},"destination":{"id":"fe20df9b-6af4-3026-8841-6d30e7120f35","type":"PROCESSOR","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"374d2021-0194-1000-b48a-60598da37f01"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"38748422-0df3-3293-92f5-908b9ed0b7eb","instanceIdentifier":"3776dce4-0194-1000-0bb5-1c918f4386af","name":"","source":{"id":"ad9f4c9e-9acb-38f8-b113-980c57a75cc1","type":"PROCESSOR","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"36f442e4-0194-1000-a9a0-9bc9d40c328b"},"destination":{"id":"8087327a-c778-34b1-adc7-5e5d65bca500","type":"FUNNEL","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"Funnel","comments":"","instanceIdentifier":"36f7b64b-0194-1000-365b-e67a550f8048"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"a173a7b9-5229-3901-b277-c88cfdfbba17","instanceIdentifier":"3776bf59-0194-1000-da98-00501ae7dc5f","name":"","source":{"id":"15cffafd-6dde-3545-95c7-30fdf6d5f332","type":"PROCESSOR","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"GenerateFlowFile","comments":"","instanceIdentifier":"374c498a-0194-1000-b7be-7588795f0667"},"destination":{"id":"ad9f4c9e-9acb-38f8-b113-980c57a75cc1","type":"PROCESSOR","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"36f442e4-0194-1000-a9a0-9bc9d40c328b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"832e8696-7a85-3dc1-bf5b-12a2bf8646e2","instanceIdentifier":"969250ec-0195-1000-0255-dbc0d18c99bd","name":"","source":{"id":"187b3d71-75d5-3b3a-8a90-95e2094fa789","type":"PROCESSOR","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"UpdateRecord","comments":"","instanceIdentifier":"96921940-0195-1000-1cfe-5e0e183ba707"},"destination":{"id":"faa3fe42-eeae-3cd4-9cc2-b29acee597a2","type":"FUNNEL","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"Funnel","comments":"","instanceIdentifier":"96923f6d-0195-1000-dfc1-f9fe7f636b90"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"f83c8182-4f92-3b75-a97b-0fd5139638a4","instanceIdentifier":"9692352d-0195-1000-699b-3ba782b24420","name":"","source":{"id":"15cffafd-6dde-3545-95c7-30fdf6d5f332","type":"PROCESSOR","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"GenerateFlowFile","comments":"","instanceIdentifier":"374c498a-0194-1000-b7be-7588795f0667"},"destination":{"id":"187b3d71-75d5-3b3a-8a90-95e2094fa789","type":"PROCESSOR","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"UpdateRecord","comments":"","instanceIdentifier":"96921940-0195-1000-1cfe-5e0e183ba707"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"50134adb-aff7-3f9d-8510-19d866b6f521","instanceIdentifier":"374d5475-0194-1000-fd0f-117ebad1281f","name":"","source":{"id":"fe20df9b-6af4-3026-8841-6d30e7120f35","type":"PROCESSOR","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"374d2021-0194-1000-b48a-60598da37f01"},"destination":{"id":"024aa461-de2e-35a3-8946-0dddfcc016db","type":"FUNNEL","groupId":"02308c43-1435-36ca-a0cc-baeafe653168","name":"Funnel","comments":"","instanceIdentifier":"36fae397-0194-1000-8279-4807df1790c2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"}],"labels":[],"funnels":[{"identifier":"024aa461-de2e-35a3-8946-0dddfcc016db","instanceIdentifier":"36fae397-0194-1000-8279-4807df1790c2","position":{"x":408.0,"y":-168.0},"componentType":"FUNNEL","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"8087327a-c778-34b1-adc7-5e5d65bca500","instanceIdentifier":"36f7b64b-0194-1000-365b-e67a550f8048","position":{"x":408.0,"y":-32.0},"componentType":"FUNNEL","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"faa3fe42-eeae-3cd4-9cc2-b29acee597a2","instanceIdentifier":"96923f6d-0195-1000-dfc1-f9fe7f636b90","position":{"x":416.0,"y":112.0},"componentType":"FUNNEL","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"}],"controllerServices":[{"identifier":"db2f4208-8522-3224-ac28-7e9370b0a803","instanceIdentifier":"9692c6f7-0195-1000-2d4e-57898c09d4c9","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n    \"name\": \"GeneratedAvroSchemaTest\",\n    \"type\": \"record\",\n    \"fields\": [\n        {\n            \"name\": \"type\",\n            \"type\": [\"string\", \"null\"]\n        },\n        {\n            \"name\": \"deletionMark\",\n            \"type\": [\"boolean\", \"null\"]\n        },\n        {\n            \"name\": \"contactInfo\",\n            \"type\": {\n                \"type\": \"array\",\n                \"items\": {\n                    \"type\": \"record\",\n                    \"name\": \"contactInfo\",\n                    \"fields\": [\n                        {\n                            \"name\": \"value\",\n                            \"type\": [\"string\", \"null\"]\n                        },\n                        {\n                            \"name\": \"type\",\n                            \"type\": [\"string\", \"null\"]\n                        },\n                        {\n                            \"name\": \"countryCode\",\n                            \"type\": [\"string\", \"null\"]\n                        }\n                    ]\n                }\n            }\n        }\n    ]\n}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"},{"identifier":"c9b39262-44fc-35be-bbf5-e2fcc4e25c45","instanceIdentifier":"96929f7c-0195-1000-d302-31cc07893a81","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"InputRecord\",\n  \"fields\": [\n    { \"name\": \"type\", \"type\": \"string\" },\n    { \"name\": \"deletionMark\", \"type\": \"string\" },\n    {\n      \"name\": \"contactInfo\",\n      \"type\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"record\",\n          \"name\": \"ContactInfo\",\n          \"fields\": [\n            { \"name\": \"type\", \"type\": \"string\" },\n            { \"name\": \"valueJSON\", \"type\": \"string\" }\n          ]\n        }\n      }\n    }\n  ]\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"02308c43-1435-36ca-a0cc-baeafe653168"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}