Basics/Lesson09/lesson9.json
{"flowContents":{"identifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","instanceIdentifier":"3881181a-0194-1000-afb1-eeffa923e888","name":"lesson9","comments":"Пишем JSON в DB","position":{"x":400.0,"y":-352.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3d4ca086-0194-1000-0885-df1637beb190","instanceIdentifier":"df896811-d99b-3328-118d-78f5b39bd1d7","name":"GenerateRecord","comments":"","position":{"x":-1544.0,"y":-216.0},"type":"org.apache.nifi.processors.standard.GenerateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"nullable-fields":"false","full_name":"Name.fullName","address":"Address.fullAddress","number-of-records":"10","record-writer":"e3b1e1ce-5b8c-3126-9068-30524839c5c2","id":"IdNumber.valid","schema-text":null,"null-percentage":"0"},"propertyDescriptors":{"nullable-fields":{"name":"nullable-fields","displayName":"Nullable Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"full_name":{"name":"full_name","displayName":"full_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"address":{"name":"address","displayName":"address","identifiesControllerService":false,"sensitive":false,"dynamic":true},"number-of-records":{"name":"number-of-records","displayName":"Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"null-percentage":{"name":"null-percentage","displayName":"Null Value Percentage","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"017f9e1b-84d8-34a2-9772-adc80ecef381","instanceIdentifier":"3d517485-0194-1000-db76-7e985d577be5","name":"UpdateAttribute","comments":"","position":{"x":-1544.0,"y":192.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.1.0"},"properties":{"Delete Attributes Expression":null,"sql.args.2.value":"${now():format(\"yyyy-MM-dd HH:mm:ss.SSS\", \"GMT+3\")}","sql.args.2.type":"93","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","sql.args.1.type":"1111","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql.args.2.value":{"name":"sql.args.2.value","displayName":"sql.args.2.value","identifiesControllerService":false,"sensitive":false,"dynamic":true},"sql.args.2.type":{"name":"sql.args.2.type","displayName":"sql.args.2.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql.args.1.type":{"name":"sql.args.1.type","displayName":"sql.args.1.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"8763ae94-6a0f-372c-b36f-fcd5127630fc","instanceIdentifier":"3d4de6bd-0194-1000-04eb-a8d1334607bb","name":"EvaluateJsonPath","comments":"","position":{"x":-1544.0,"y":56.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Destination":"flowfile-attribute","sql.args.1.value":"$","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql.args.1.value":{"name":"sql.args.1.value","displayName":"sql.args.1.value","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"276cc792-d626-3ab1-8b7e-537df83731d0","instanceIdentifier":"3d5e696b-0194-1000-a4a4-9b848d2ff4fc","name":"PutSQL","comments":"","position":{"x":-1544.0,"y":328.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"INSERT INTO public.test (data, insert_dt) VALUES (?::json, ?::timestamp);","Transaction Timeout":null,"Batch Size":"1","Obtain Generated Keys":"false","JDBC Connection Pool":"47e98c68-29f6-39bf-b93b-53af18c351e4","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"0 sec","yieldDuration":"0 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":1,"retriedRelationships":["retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"1 sec","componentType":"PROCESSOR","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"8b2133d4-d0c7-37d7-ad68-296ba63445b9","instanceIdentifier":"3894b267-0194-1000-1579-b3f576ece456","name":"UpdateRecord","comments":"","position":{"x":-824.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"/insert_dt":"${now():toNumber()}","Record Writer":"f9f09d1e-395f-31db-a38c-9c7defb2d7d9","Record Reader":"44f7c399-7228-368b-ba7d-5997c9b92cf0","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/insert_dt":{"name":"/insert_dt","displayName":"/insert_dt","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"3b913824-40bb-38e9-a6b4-139e48268816","instanceIdentifier":"38826bd6-0194-1000-83a5-0ba3cbafdeeb","name":"GenerateRecord","comments":"","position":{"x":-824.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.GenerateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"nullable-fields":"false","full_name":"Name.fullName","address":"Address.fullAddress","number-of-records":"10","record-writer":"ffe73530-fa0f-3bc0-b2ab-df7be30dded5","id":"IdNumber.valid","schema-text":null,"null-percentage":"0"},"propertyDescriptors":{"nullable-fields":{"name":"nullable-fields","displayName":"Nullable Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"full_name":{"name":"full_name","displayName":"full_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"address":{"name":"address","displayName":"address","identifiesControllerService":false,"sensitive":false,"dynamic":true},"number-of-records":{"name":"number-of-records","displayName":"Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"null-percentage":{"name":"null-percentage","displayName":"Null Value Percentage","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"e152984f-3784-3790-8d9f-f091abd7bc5a","instanceIdentifier":"3d4d6ba8-0194-1000-13f3-b4f234a43043","name":"SplitJson","comments":"","position":{"x":-1544.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"7168ebc8-1792-395a-b127-063aec409a9f","instanceIdentifier":"38af4fc0-0194-1000-a85c-e471eeda4a5c","name":"PutDatabaseRecord","comments":"","position":{"x":-824.0,"y":48.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"47e98c68-29f6-39bf-b93b-53af18c351e4","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_SPACE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"test","put-db-record-record-reader":"44f7c399-7228-368b-ba7d-5997c9b92cf0"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"3 sec","componentType":"PROCESSOR","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"793dbf2f-4f4b-36c7-b0aa-5e4bf19168f1","instanceIdentifier":"3d4d7b23-0194-1000-9ca9-2164b4cc553b","name":"","source":{"id":"3d4ca086-0194-1000-0885-df1637beb190","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"GenerateRecord","comments":"","instanceIdentifier":"df896811-d99b-3328-118d-78f5b39bd1d7"},"destination":{"id":"e152984f-3784-3790-8d9f-f091abd7bc5a","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"SplitJson","comments":"","instanceIdentifier":"3d4d6ba8-0194-1000-13f3-b4f234a43043"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1056.0,"y":-88.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"2f1795a9-428f-34b2-9b46-337dce6f2918","instanceIdentifier":"3d4df8dd-0194-1000-edf7-2a7c4fee8859","name":"","source":{"id":"e152984f-3784-3790-8d9f-f091abd7bc5a","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"SplitJson","comments":"","instanceIdentifier":"3d4d6ba8-0194-1000-13f3-b4f234a43043"},"destination":{"id":"8763ae94-6a0f-372c-b36f-fcd5127630fc","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"3d4de6bd-0194-1000-04eb-a8d1334607bb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1056.0,"y":48.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"42c5dac6-5a00-3fe2-ab5d-0a393f0e830c","instanceIdentifier":"3885eb79-0194-1000-a0d7-eaa8a7ff02ba","name":"","source":{"id":"3b913824-40bb-38e9-a6b4-139e48268816","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"GenerateRecord","comments":"","instanceIdentifier":"38826bd6-0194-1000-83a5-0ba3cbafdeeb"},"destination":{"id":"8b2133d4-d0c7-37d7-ad68-296ba63445b9","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"UpdateRecord","comments":"","instanceIdentifier":"3894b267-0194-1000-1579-b3f576ece456"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-336.0,"y":-96.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"e14fd914-8f31-3425-b396-d7805f50fee0","instanceIdentifier":"3d549b81-0194-1000-824b-f7749c21d15c","name":"","source":{"id":"017f9e1b-84d8-34a2-9772-adc80ecef381","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"UpdateAttribute","comments":"","instanceIdentifier":"3d517485-0194-1000-db76-7e985d577be5"},"destination":{"id":"276cc792-d626-3ab1-8b7e-537df83731d0","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"PutSQL","comments":"","instanceIdentifier":"3d5e696b-0194-1000-a4a4-9b848d2ff4fc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1056.0,"y":328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"968258a0-7fc2-3566-88ab-059c066e6046","instanceIdentifier":"38b0016a-0194-1000-4501-ac8b3fc36436","name":"","source":{"id":"7168ebc8-1792-395a-b127-063aec409a9f","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"38af4fc0-0194-1000-a85c-e471eeda4a5c"},"destination":{"id":"593a4f9f-9299-3d8e-ae76-4dbf0371516d","type":"FUNNEL","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"Funnel","comments":"","instanceIdentifier":"3885dfd7-0194-1000-1182-89fa594443ef"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"f8e98a60-a7f4-301f-ba5a-2f7745e8b824","instanceIdentifier":"389e53b3-0194-1000-d0df-ad1319815319","name":"","source":{"id":"8b2133d4-d0c7-37d7-ad68-296ba63445b9","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"UpdateRecord","comments":"","instanceIdentifier":"3894b267-0194-1000-1579-b3f576ece456"},"destination":{"id":"7168ebc8-1792-395a-b127-063aec409a9f","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"38af4fc0-0194-1000-a85c-e471eeda4a5c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-336.0,"y":48.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"54adb087-56c6-3ac9-b19f-ccfe13cc8a62","instanceIdentifier":"3d518ef4-0194-1000-f863-368a72fae149","name":"","source":{"id":"8763ae94-6a0f-372c-b36f-fcd5127630fc","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"3d4de6bd-0194-1000-04eb-a8d1334607bb"},"destination":{"id":"017f9e1b-84d8-34a2-9772-adc80ecef381","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"UpdateAttribute","comments":"","instanceIdentifier":"3d517485-0194-1000-db76-7e985d577be5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1056.0,"y":192.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"df90ad04-b9eb-3a7f-a597-92588dc175b7","instanceIdentifier":"38b035cc-0194-1000-a022-a9c883e5f804","name":"","source":{"id":"7168ebc8-1792-395a-b127-063aec409a9f","type":"PROCESSOR","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"38af4fc0-0194-1000-a85c-e471eeda4a5c"},"destination":{"id":"0b20c5a2-b8ff-3024-b5da-ef1d635f5f03","type":"FUNNEL","groupId":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a","name":"Funnel","comments":"","instanceIdentifier":"38b023a3-0194-1000-7c88-aaa6f9a29ca7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"}],"labels":[{"identifier":"77e52858-1cd4-3c02-bddb-6b709fef3657","instanceIdentifier":"7ac5cbcc-0195-1000-0753-5c918206b80d","position":{"x":-848.0,"y":-288.0},"zIndex":0,"width":712.0,"height":760.0,"style":{"background-color":"#67e667"},"componentType":"LABEL","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"ad9d54a1-4f36-37ca-b843-d6e38c1de230","instanceIdentifier":"7ac5623e-0195-1000-3c72-37a69234c48b","position":{"x":-1608.0,"y":-288.0},"zIndex":0,"width":680.0,"height":760.0,"style":{"background-color":"#ff7373"},"componentType":"LABEL","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"}],"funnels":[{"identifier":"593a4f9f-9299-3d8e-ae76-4dbf0371516d","instanceIdentifier":"3885dfd7-0194-1000-1182-89fa594443ef","position":{"x":-672.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"0b20c5a2-b8ff-3024-b5da-ef1d635f5f03","instanceIdentifier":"38b023a3-0194-1000-7c88-aaa6f9a29ca7","position":{"x":-192.0,"y":88.0},"componentType":"FUNNEL","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"}],"controllerServices":[{"identifier":"f9f09d1e-395f-31db-a38c-9c7defb2d7d9","instanceIdentifier":"389a9d9d-0194-1000-ece6-0b2524ffb9d2","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"false","schema-cache":null,"Escape Character":"▲","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":"b5c2fd0c-2aeb-3950-9f63-ae6f2195a004","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"♥","Value Separator":"\\t","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"db_schema","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"48bbbe09-2bb7-3fbd-8104-4d152ed47a57","instanceIdentifier":"4426b1e0-0196-1000-79e3-b0bb753dca62","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"47e98c68-29f6-39bf-b93b-53af18c351e4","instanceIdentifier":"38aa276a-0194-1000-91f2-adc1d4c2d9e1","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.1.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"./extensions/postgresql-42.7.4.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"b5c2fd0c-2aeb-3950-9f63-ae6f2195a004","instanceIdentifier":"3897e862-0194-1000-dfd0-a5b811158ce6","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.1.0"},"properties":{"avro-reg-validated-field-names":"true","db_schema":"{\n  \"type\": \"record\",\n  \"name\": \"nifiRecord\",\n  \"namespace\": \"org.apache.nifi\",\n  \"fields\": [\n    {\n      \"name\": \"data\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"insert_dt\",\n      \"type\": [\"null\", \"long\"]\n    }\n  ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db_schema":{"name":"db_schema","displayName":"db_schema","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"e3b1e1ce-5b8c-3126-9068-30524839c5c2","instanceIdentifier":"3d4fdc4a-0194-1000-3467-861c7e299258","name":"JsonRecordSetWriter_array","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"ffe73530-fa0f-3bc0-b2ab-df7be30dded5","instanceIdentifier":"3882a041-0194-1000-0e65-36709a209eef","name":"JsonRecordSetWriter_olpo","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"},{"identifier":"44f7c399-7228-368b-ba7d-5997c9b92cf0","instanceIdentifier":"38951787-0194-1000-05c2-8cd6f1f59ed5","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"true","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"♥","csvutils-allow-duplicate-header-names":"true","Value Separator":"\\t","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"▲","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"db_schema","schema-registry":"b5c2fd0c-2aeb-3950-9f63-ae6f2195a004","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1b1d05a4-5146-3d5c-a79d-541f0f5d5e1a"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}