Lab2/Lab2.json
[ {
  "flowContents" : {
    "identifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
    "instanceIdentifier" : "278de964-0194-1000-9973-4ac94ef961bb",
    "name" : "Lab2",
    "comments" : "Фильтруем запись по содержимому",
    "position" : {
      "x" : -504.0,
      "y" : -160.0
    },
    "processGroups" : [ ],
    "remoteProcessGroups" : [ ],
    "processors" : [ {
      "identifier" : "de8a6eea-6b49-39df-933b-0f8f756015cb",
      "instanceIdentifier" : "278e28a1-0194-1000-06ef-00b329aad332",
      "name" : "GenerateRecord",
      "comments" : "",
      "position" : {
        "x" : -1192.0,
        "y" : -344.0
      },
      "type" : "org.apache.nifi.processors.standard.GenerateRecord",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-standard-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "nullable-fields" : "true",
        "number-of-records" : "100000",
        "record-writer" : "abc8ccf1-5f06-347d-b6e2-d6b4a155f05d",
        "schema-text" : "{\n  \"name\": \"MyClass\",\n  \"type\": \"record\",\n  \"namespace\": \"com.acme.avro\",\n  \"fields\": [\n    {\n      \"name\": \"text\",\n      \"type\": [\"null\", \"string\"]\n    }\n  ]\n}",
        "null-percentage" : "1"
      },
      "propertyDescriptors" : {
        "nullable-fields" : {
          "name" : "nullable-fields",
          "displayName" : "Nullable Fields",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "number-of-records" : {
          "name" : "number-of-records",
          "displayName" : "Number of Records",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "record-writer" : {
          "name" : "record-writer",
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "null-percentage" : {
          "name" : "null-percentage",
          "displayName" : "Null Value Percentage",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "bea334b1-6da1-35c1-aae5-27b5503bf366",
      "instanceIdentifier" : "2792825f-0194-1000-b143-56795c3d9f2c",
      "name" : "ScriptedFilterRecord",
      "comments" : "",
      "position" : {
        "x" : -512.0,
        "y" : -504.0
      },
      "type" : "org.apache.nifi.processors.script.ScriptedFilterRecord",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-scripting-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "Script File" : null,
        "Script Engine" : "Groovy",
        "Script Body" : "record.getValue(\"text\")?.contains(\"Chuck Norris\") ?: false",
        "Record Writer" : "abc8ccf1-5f06-347d-b6e2-d6b4a155f05d",
        "Record Reader" : "fb27d032-0ac8-336d-a80f-aadedc6bd549",
        "Module Directory" : null
      },
      "propertyDescriptors" : {
        "Script File" : {
          "name" : "Script File",
          "displayName" : "Script File",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          }
        },
        "Script Engine" : {
          "name" : "Script Engine",
          "displayName" : "Script Language",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Script Body" : {
          "name" : "Script Body",
          "displayName" : "Script Body",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Record Writer" : {
          "name" : "Record Writer",
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Record Reader" : {
          "name" : "Record Reader",
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Module Directory" : {
          "name" : "Module Directory",
          "displayName" : "Module Directory",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          }
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 25,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "0ddcb64e-c08d-3ecb-b673-6bbc68ede5d5",
      "instanceIdentifier" : "27a4550e-0194-1000-06bd-3c747bf4703b",
      "name" : "ConvertRecord",
      "comments" : "",
      "position" : {
        "x" : -512.0,
        "y" : -224.0
      },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-standard-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "Include Zero Record FlowFiles" : "true",
        "Record Writer" : "abc8ccf1-5f06-347d-b6e2-d6b4a155f05d",
        "Record Reader" : "bd596fa1-e718-3542-aa14-b4eeb07415b0"
      },
      "propertyDescriptors" : {
        "Include Zero Record FlowFiles" : {
          "name" : "Include Zero Record FlowFiles",
          "displayName" : "Include Zero Record FlowFiles",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Record Writer" : {
          "name" : "Record Writer",
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Record Reader" : {
          "name" : "Record Reader",
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "failure" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "8339a513-0306-32cb-a876-0afbda0d4694",
      "instanceIdentifier" : "27934ccd-0194-1000-bc4a-d98b595725b1",
      "name" : "ExecuteGroovyScript",
      "comments" : "",
      "position" : {
        "x" : -512.0,
        "y" : -640.0
      },
      "type" : "org.apache.nifi.processors.groovyx.ExecuteGroovyScript",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-groovyx-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "groovyx-script-body" : "import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\nString myProperty = Contains.value\n\n  flowFile = session.write(flowFile, { inputStream, outputStream ->\n    outputStream.withWriter(\"UTF-8\") { writer ->\n    inputStream.eachLine { line ->\n      def jsonSlurper = new JsonSlurper()\n      def parsedJson = jsonSlurper.parseText(line)\n\n      if (parsedJson.text?.contains(myProperty)) {\n       def outputJson = JsonOutput.toJson(parsedJson)\n       writer.write(\"${outputJson}\\n\")\n      }\n     }\n   }\n  } as StreamCallback)\n\n  session.transfer(flowFile, REL_SUCCESS)",
        "groovyx-failure-strategy" : "rollback",
        "groovyx-additional-classpath" : null,
        "Contains" : "Chuck Norris",
        "groovyx-script-file" : null
      },
      "propertyDescriptors" : {
        "groovyx-script-body" : {
          "name" : "groovyx-script-body",
          "displayName" : "Script Body",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "groovyx-failure-strategy" : {
          "name" : "groovyx-failure-strategy",
          "displayName" : "Failure strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "groovyx-additional-classpath" : {
          "name" : "groovyx-additional-classpath",
          "displayName" : "Additional classpath",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Contains" : {
          "name" : "Contains",
          "displayName" : "Contains",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : true
        },
        "groovyx-script-file" : {
          "name" : "groovyx-script-file",
          "displayName" : "Script File",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          }
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "failure" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "a3593522-a898-30f5-b313-fb3e8aafd5a1",
      "instanceIdentifier" : "279f855c-0194-1000-6d09-2d62148b2958",
      "name" : "RouteText",
      "comments" : "",
      "position" : {
        "x" : -512.0,
        "y" : -360.0
      },
      "type" : "org.apache.nifi.processors.standard.RouteText",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-standard-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "Routing Strategy" : "Route to 'matched' if line matches all conditions",
        "Ignore Leading/Trailing Whitespace" : "true",
        "Matching Strategy" : "Contains",
        "Found" : "Chuck Norris",
        "Character Set" : "UTF-8",
        "Ignore Case" : "false",
        "Grouping Regular Expression" : null
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "name" : "Routing Strategy",
          "displayName" : "Routing Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Ignore Leading/Trailing Whitespace" : {
          "name" : "Ignore Leading/Trailing Whitespace",
          "displayName" : "Ignore Leading/Trailing Whitespace",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Matching Strategy" : {
          "name" : "Matching Strategy",
          "displayName" : "Matching Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Found" : {
          "name" : "Found",
          "displayName" : "Found",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : true
        },
        "Character Set" : {
          "name" : "Character Set",
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Ignore Case" : {
          "name" : "Ignore Case",
          "displayName" : "Ignore Case",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Grouping Regular Expression" : {
          "name" : "Grouping Regular Expression",
          "displayName" : "Grouping Regular Expression",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 0,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "original", "unmatched" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "12248078-e421-3229-b632-cff4def2e41c",
      "instanceIdentifier" : "27ba0cc5-0194-1000-8d7f-2eb45417c4fa",
      "name" : "ExecuteStreamCommand",
      "comments" : "",
      "position" : {
        "x" : -504.0,
        "y" : -80.0
      },
      "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-standard-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "argumentsStrategy" : "Command Arguments Property",
        "Max Attribute Length" : "256",
        "Output MIME Type" : null,
        "Working Directory" : "c:/temp",
        "Command Path" : "grep",
        "Output Destination Attribute" : null,
        "Argument Delimiter" : ";",
        "Ignore STDIN" : "false",
        "Command Arguments" : "Chuck Norris"
      },
      "propertyDescriptors" : {
        "argumentsStrategy" : {
          "name" : "argumentsStrategy",
          "displayName" : "Command Arguments Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Max Attribute Length" : {
          "name" : "Max Attribute Length",
          "displayName" : "Max Attribute Length",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Output MIME Type" : {
          "name" : "Output MIME Type",
          "displayName" : "Output MIME Type",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Working Directory" : {
          "name" : "Working Directory",
          "displayName" : "Working Directory",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Command Path" : {
          "name" : "Command Path",
          "displayName" : "Command Path",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Output Destination Attribute" : {
          "name" : "Output Destination Attribute",
          "displayName" : "Output Destination Attribute",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Argument Delimiter" : {
          "name" : "Argument Delimiter",
          "displayName" : "Argument Delimiter",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Ignore STDIN" : {
          "name" : "Ignore STDIN",
          "displayName" : "Ignore STDIN",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Command Arguments" : {
          "name" : "Command Arguments",
          "displayName" : "Command Arguments",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "style" : { },
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "executionNode" : "ALL",
      "penaltyDuration" : "30 sec",
      "yieldDuration" : "1 sec",
      "bulletinLevel" : "WARN",
      "runDurationMillis" : 25,
      "concurrentlySchedulableTaskCount" : 1,
      "autoTerminatedRelationships" : [ "original", "nonzero status" ],
      "scheduledState" : "ENABLED",
      "retryCount" : 10,
      "retriedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "maxBackoffPeriod" : "10 mins",
      "componentType" : "PROCESSOR",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    } ],
    "inputPorts" : [ ],
    "outputPorts" : [ ],
    "connections" : [ {
      "identifier" : "a53d8a78-47c4-32bb-86d2-1c574db84251",
      "instanceIdentifier" : "279361b9-0194-1000-9989-9a1ba262e77d",
      "name" : "",
      "source" : {
        "id" : "de8a6eea-6b49-39df-933b-0f8f756015cb",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "GenerateRecord",
        "comments" : "",
        "instanceIdentifier" : "278e28a1-0194-1000-06ef-00b329aad332"
      },
      "destination" : {
        "id" : "8339a513-0306-32cb-a876-0afbda0d4694",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "ExecuteGroovyScript",
        "comments" : "",
        "instanceIdentifier" : "27934ccd-0194-1000-bc4a-d98b595725b1"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "b437f76b-2c38-3a64-aacf-ccb47d4ef54e",
      "instanceIdentifier" : "27a46ccb-0194-1000-4886-9c0014a5b69a",
      "name" : "",
      "source" : {
        "id" : "de8a6eea-6b49-39df-933b-0f8f756015cb",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "GenerateRecord",
        "comments" : "",
        "instanceIdentifier" : "278e28a1-0194-1000-06ef-00b329aad332"
      },
      "destination" : {
        "id" : "12248078-e421-3229-b632-cff4def2e41c",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "ExecuteStreamCommand",
        "comments" : "",
        "instanceIdentifier" : "27ba0cc5-0194-1000-8d7f-2eb45417c4fa"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "0c649263-9c54-3ecb-a8fa-7086079d4273",
      "instanceIdentifier" : "27ba5ac2-0194-1000-0e2b-083c13bd608e",
      "name" : "",
      "source" : {
        "id" : "12248078-e421-3229-b632-cff4def2e41c",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "ExecuteStreamCommand",
        "comments" : "",
        "instanceIdentifier" : "27ba0cc5-0194-1000-8d7f-2eb45417c4fa"
      },
      "destination" : {
        "id" : "5639821b-331d-38a9-8c2f-56ed68b6c1bb",
        "type" : "FUNNEL",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "27ba305d-0194-1000-cc45-49c7379ab71b"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "output stream" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "99aed830-a4b1-39f1-8ed9-f567c41b4054",
      "instanceIdentifier" : "27a0e65a-0194-1000-1e99-cc5e92d36a2f",
      "name" : "",
      "source" : {
        "id" : "a3593522-a898-30f5-b313-fb3e8aafd5a1",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "RouteText",
        "comments" : "",
        "instanceIdentifier" : "279f855c-0194-1000-6d09-2d62148b2958"
      },
      "destination" : {
        "id" : "0753e311-e296-3979-8839-d919e2386708",
        "type" : "FUNNEL",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "27a0c688-0194-1000-a2b6-7b10076da288"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "matched" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "dcd32d73-c972-3297-a376-766f26053e7e",
      "instanceIdentifier" : "2793d941-0194-1000-bef4-6060fb250d30",
      "name" : "",
      "source" : {
        "id" : "bea334b1-6da1-35c1-aae5-27b5503bf366",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "ScriptedFilterRecord",
        "comments" : "",
        "instanceIdentifier" : "2792825f-0194-1000-b143-56795c3d9f2c"
      },
      "destination" : {
        "id" : "051525d7-6094-3581-b769-735ba48a42dd",
        "type" : "FUNNEL",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "27936cc3-0194-1000-c8f8-858b4b417879"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "5149cef0-8d55-349b-87e3-024a92a823f8",
      "instanceIdentifier" : "2790978c-0194-1000-46a4-3e86e138c8c6",
      "name" : "",
      "source" : {
        "id" : "de8a6eea-6b49-39df-933b-0f8f756015cb",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "GenerateRecord",
        "comments" : "",
        "instanceIdentifier" : "278e28a1-0194-1000-06ef-00b329aad332"
      },
      "destination" : {
        "id" : "bea334b1-6da1-35c1-aae5-27b5503bf366",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "ScriptedFilterRecord",
        "comments" : "",
        "instanceIdentifier" : "2792825f-0194-1000-b143-56795c3d9f2c"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "b1867228-4557-39f3-93f0-a8db49ddd793",
      "instanceIdentifier" : "2793a5b8-0194-1000-38d6-3579502c427d",
      "name" : "",
      "source" : {
        "id" : "8339a513-0306-32cb-a876-0afbda0d4694",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "ExecuteGroovyScript",
        "comments" : "",
        "instanceIdentifier" : "27934ccd-0194-1000-bc4a-d98b595725b1"
      },
      "destination" : {
        "id" : "153697ae-3c60-3e0e-abcc-127d3d574c50",
        "type" : "FUNNEL",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "27908cba-0194-1000-4c06-c0939548d657"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "a0d0431c-5a8e-35ef-add7-679f6762b15b",
      "instanceIdentifier" : "27a01b8a-0194-1000-ad6b-3e3987b5e2ce",
      "name" : "",
      "source" : {
        "id" : "de8a6eea-6b49-39df-933b-0f8f756015cb",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "GenerateRecord",
        "comments" : "",
        "instanceIdentifier" : "278e28a1-0194-1000-06ef-00b329aad332"
      },
      "destination" : {
        "id" : "a3593522-a898-30f5-b313-fb3e8aafd5a1",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "RouteText",
        "comments" : "",
        "instanceIdentifier" : "279f855c-0194-1000-6d09-2d62148b2958"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "9240ce48-5286-3973-a6ef-18df5cce0438",
      "instanceIdentifier" : "27a497bc-0194-1000-5064-8ae1cfba4baa",
      "name" : "",
      "source" : {
        "id" : "0ddcb64e-c08d-3ecb-b673-6bbc68ede5d5",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "ConvertRecord",
        "comments" : "",
        "instanceIdentifier" : "27a4550e-0194-1000-06bd-3c747bf4703b"
      },
      "destination" : {
        "id" : "5240f1ca-a8b4-3b70-9fed-4a73d0ef3136",
        "type" : "FUNNEL",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "Funnel",
        "comments" : "",
        "instanceIdentifier" : "27a47c3a-0194-1000-c13a-d943e19b6194"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "41650bb3-27ed-39a1-b9b7-e16ca5e5aec4",
      "instanceIdentifier" : "27bf4aed-0194-1000-ffbc-938803c087ba",
      "name" : "",
      "source" : {
        "id" : "de8a6eea-6b49-39df-933b-0f8f756015cb",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "GenerateRecord",
        "comments" : "",
        "instanceIdentifier" : "278e28a1-0194-1000-06ef-00b329aad332"
      },
      "destination" : {
        "id" : "0ddcb64e-c08d-3ecb-b673-6bbc68ede5d5",
        "type" : "PROCESSOR",
        "groupId" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76",
        "name" : "ConvertRecord",
        "comments" : "",
        "instanceIdentifier" : "27a4550e-0194-1000-06bd-3c747bf4703b"
      },
      "labelIndex" : 0,
      "zIndex" : 0,
      "selectedRelationships" : [ "success" ],
      "backPressureObjectThreshold" : 10000,
      "backPressureDataSizeThreshold" : "1 GB",
      "flowFileExpiration" : "0 sec",
      "prioritizers" : [ ],
      "bends" : [ ],
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "partitioningAttribute" : "",
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "componentType" : "CONNECTION",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    } ],
    "labels" : [ ],
    "funnels" : [ {
      "identifier" : "5639821b-331d-38a9-8c2f-56ed68b6c1bb",
      "instanceIdentifier" : "27ba305d-0194-1000-cc45-49c7379ab71b",
      "position" : {
        "x" : 155.0,
        "y" : -36.0
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "153697ae-3c60-3e0e-abcc-127d3d574c50",
      "instanceIdentifier" : "27908cba-0194-1000-4c06-c0939548d657",
      "position" : {
        "x" : 120.0,
        "y" : -600.0
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "0753e311-e296-3979-8839-d919e2386708",
      "instanceIdentifier" : "27a0c688-0194-1000-a2b6-7b10076da288",
      "position" : {
        "x" : 112.0,
        "y" : -328.0
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "5240f1ca-a8b4-3b70-9fed-4a73d0ef3136",
      "instanceIdentifier" : "27a47c3a-0194-1000-c13a-d943e19b6194",
      "position" : {
        "x" : 120.0,
        "y" : -192.0
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "051525d7-6094-3581-b769-735ba48a42dd",
      "instanceIdentifier" : "27936cc3-0194-1000-c8f8-858b4b417879",
      "position" : {
        "x" : 120.0,
        "y" : -456.0
      },
      "componentType" : "FUNNEL",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    } ],
    "controllerServices" : [ {
      "identifier" : "fb27d032-0ac8-336d-a80f-aadedc6bd549",
      "instanceIdentifier" : "2795e9fa-0194-1000-dd67-739811d028c2",
      "name" : "JsonTreeReader",
      "comments" : "",
      "type" : "org.apache.nifi.json.JsonTreeReader",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "schema-reference-reader" : null,
        "schema-branch" : null,
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "Timestamp Format" : null,
        "schema-inference-cache" : null,
        "Date Format" : null,
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "schema-registry" : null,
        "starting-field-name" : null,
        "Time Format" : null,
        "schema-access-strategy" : "infer-schema",
        "schema-version" : null,
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "name" : "schema-reference-reader",
          "displayName" : "Schema Reference Reader",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Max String Length" : {
          "name" : "Max String Length",
          "displayName" : "Max String Length",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-application-strategy" : {
          "name" : "schema-application-strategy",
          "displayName" : "Schema Application Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-inference-cache" : {
          "name" : "schema-inference-cache",
          "displayName" : "Schema Inference Cache",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "starting-field-strategy" : {
          "name" : "starting-field-strategy",
          "displayName" : "Starting Field Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "starting-field-name" : {
          "name" : "starting-field-name",
          "displayName" : "Starting Field Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Allow Comments" : {
          "name" : "Allow Comments",
          "displayName" : "Allow Comments",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordReaderFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "2.1.0"
        }
      } ],
      "scheduledState" : "DISABLED",
      "bulletinLevel" : "WARN",
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "bd596fa1-e718-3542-aa14-b4eeb07415b0",
      "instanceIdentifier" : "27aa2b30-0194-1000-f2d1-e84e7f246129",
      "name" : "ScriptedReader",
      "comments" : "",
      "type" : "org.apache.nifi.record.script.ScriptedReader",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-scripting-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "Script File" : null,
        "Script Engine" : "Groovy",
        "Script Body" : "import org.apache.nifi.serialization.record.Record\nimport org.apache.nifi.serialization.record.RecordSchema\nimport org.apache.nifi.serialization.record.MapRecord\nimport org.apache.nifi.serialization.SimpleRecordSchema\nimport org.apache.nifi.serialization.record.RecordField\nimport org.apache.nifi.serialization.record.RecordFieldType\nimport org.apache.nifi.serialization.RecordReader\nimport org.apache.nifi.serialization.MalformedRecordException\nimport org.apache.nifi.controller.AbstractControllerService\nimport org.apache.nifi.serialization.RecordReaderFactory\nimport org.apache.nifi.logging.ComponentLog\n\nclass FilteredRecordReader implements RecordReader {\n\n    private final BufferedReader reader\n    private final RecordSchema schema\n\n    FilteredRecordReader(InputStream input) {\n        this.reader = new BufferedReader(new InputStreamReader(input))\n        // Определяем схему записи (содержит одно поле \"text\")\n        def fields = [new RecordField(\"text\", RecordFieldType.STRING.dataType)]\n        this.schema = new SimpleRecordSchema(fields)\n    }\n\n    @Override\n    Record nextRecord(boolean coerceTypes, boolean dropUnknownFields) throws IOException, MalformedRecordException {\n        String line\n        while ((line = reader.readLine()) != null) {\n            try {\n                // Парсим JSON-строку\n                def json = new groovy.json.JsonSlurper().parseText(line)\n                \n                // Если поле \"text\" содержит \"Chuck Norris\", создаём запись\n                if (json.text?.contains(\"Chuck Norris\")) {\n                    return new MapRecord(schema, [text: json.text])\n                }\n            } catch (Exception e) {\n                throw new MalformedRecordException(\"Failed to parse line: ${line}\", e)\n            }\n        }\n        return null\n    }\n\n    @Override\n    void close() throws IOException {\n        reader.close()\n    }\n\n    @Override\n    RecordSchema getSchema() {\n        return schema\n    }\n}\n\nclass FilteredRecordReaderFactory extends AbstractControllerService implements RecordReaderFactory {\n\n    @Override\n    RecordReader createRecordReader(Map<String, String> variables, InputStream inputStream, long inputLength, ComponentLog logger) throws IOException {\n        return new FilteredRecordReader(inputStream)\n    }\n}\n\n// Создаём экземпляр фабрики\nreader = new FilteredRecordReaderFactory()",
        "Module Directory" : null
      },
      "propertyDescriptors" : {
        "Script File" : {
          "name" : "Script File",
          "displayName" : "Script File",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          }
        },
        "Script Engine" : {
          "name" : "Script Engine",
          "displayName" : "Script Engine",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Script Body" : {
          "name" : "Script Body",
          "displayName" : "Script Body",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Module Directory" : {
          "name" : "Module Directory",
          "displayName" : "Module Directory",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false,
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          }
        }
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordReaderFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "2.1.0"
        }
      } ],
      "scheduledState" : "DISABLED",
      "bulletinLevel" : "WARN",
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    }, {
      "identifier" : "abc8ccf1-5f06-347d-b6e2-d6b4a155f05d",
      "instanceIdentifier" : "278e8d8f-0194-1000-bb9a-8c493ba742d4",
      "name" : "JsonRecordSetWriter",
      "comments" : "",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter",
      "bundle" : {
        "group" : "org.apache.nifi",
        "artifact" : "nifi-record-serialization-services-nar",
        "version" : "2.1.0"
      },
      "properties" : {
        "schema-reference-reader" : null,
        "schema-branch" : null,
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "schema-cache" : null,
        "Timestamp Format" : null,
        "Date Format" : null,
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-oneline",
        "schema-name" : "${schema.name}",
        "schema-registry" : null,
        "Time Format" : null,
        "schema-access-strategy" : "inherit-record-schema",
        "schema-version" : null,
        "schema-text" : "${avro.schema}",
        "Schema Reference Writer" : null
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "name" : "schema-reference-reader",
          "displayName" : "Schema Reference Reader",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-branch" : {
          "name" : "schema-branch",
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Allow Scientific Notation" : {
          "name" : "Allow Scientific Notation",
          "displayName" : "Allow Scientific Notation",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "compression-level" : {
          "name" : "compression-level",
          "displayName" : "Compression Level",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-cache" : {
          "name" : "schema-cache",
          "displayName" : "Schema Cache",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Timestamp Format" : {
          "name" : "Timestamp Format",
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Date Format" : {
          "name" : "Date Format",
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Pretty Print JSON" : {
          "name" : "Pretty Print JSON",
          "displayName" : "Pretty Print JSON",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "compression-format" : {
          "name" : "compression-format",
          "displayName" : "Compression Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Schema Write Strategy" : {
          "name" : "Schema Write Strategy",
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "suppress-nulls" : {
          "name" : "suppress-nulls",
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "output-grouping" : {
          "name" : "output-grouping",
          "displayName" : "Output Grouping",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-name" : {
          "name" : "schema-name",
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-registry" : {
          "name" : "schema-registry",
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        },
        "Time Format" : {
          "name" : "Time Format",
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-access-strategy" : {
          "name" : "schema-access-strategy",
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-version" : {
          "name" : "schema-version",
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "schema-text" : {
          "name" : "schema-text",
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "sensitive" : false,
          "dynamic" : false
        },
        "Schema Reference Writer" : {
          "name" : "Schema Reference Writer",
          "displayName" : "Schema Reference Writer",
          "identifiesControllerService" : true,
          "sensitive" : false,
          "dynamic" : false
        }
      },
      "controllerServiceApis" : [ {
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory",
        "bundle" : {
          "group" : "org.apache.nifi",
          "artifact" : "nifi-standard-services-api-nar",
          "version" : "2.1.0"
        }
      } ],
      "scheduledState" : "DISABLED",
      "bulletinLevel" : "WARN",
      "componentType" : "CONTROLLER_SERVICE",
      "groupIdentifier" : "72db6bcc-ba8c-34bb-bc30-14bd6d2b8b76"
    } ],
    "defaultFlowFileExpiration" : "0 sec",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "scheduledState" : "ENABLED",
    "executionEngine" : "INHERITED",
    "maxConcurrentTasks" : 1,
    "statelessFlowTimeout" : "1 min",
    "componentType" : "PROCESS_GROUP",
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices" : { },
  "parameterContexts" : { },
  "flowEncodingVersion" : "1.0",
  "parameterProviders" : { },
  "latest" : false
} ]