Basics/Lesson10/lesson10.json
{"flowContents":{"identifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","instanceIdentifier":"47fb4758-0194-1000-7240-79378a5b6cfb","name":"lesson10","comments":"GenerateTableFetch","position":{"x":400.0,"y":-160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b107cc1a-c8a0-3054-ad4f-1dac46f26e26","instanceIdentifier":"4836c737-0194-1000-0b0a-fcf5072e9574","name":"GenerateTableFetch","comments":"","position":{"x":192.16666666666663,"y":-457.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"russian_surnames","db-fetch-db-type":"PostgreSQL","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"0488855f-c8a2-364e-b565-a03dbb2a2733","gen-table-fetch-partition-size":"1000","Columns to Return":null,"Maximum-value Columns":"id","db-fetch-where-clause":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"},{"identifier":"0c91c416-ff25-3f02-913d-324e7042d9a1","instanceIdentifier":"47fc7138-0194-1000-6674-1fcdf8d32a09","name":"QueryDatabaseTable","comments":"","position":{"x":-264.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Table Name":"russian_surnames","db-fetch-db-type":"PostgreSQL","dbf-default-precision":"10","Set Auto Commit":"false","Max Wait Time":"10 seconds","Database Connection Pooling Service":"0488855f-c8a2-364e-b565-a03dbb2a2733","Maximum-value Columns":"id","dbf-user-logical-types":"false","qdbt-output-batch-size":"0","qdbt-max-rows":"1000","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"1000","db-fetch-sql-query":null,"Columns to Return":null,"db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"},{"identifier":"abb8ea22-5869-3762-bf7b-31db28b18407","instanceIdentifier":"4857d31f-0194-1000-f73d-20a5cd61da02","name":"ExecuteGroovyScript","comments":"","position":{"x":192.0,"y":-320.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.1.0"},"properties":{"groovyx-script-body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport java.util.regex.Pattern\n\n// Определяем кастомный StreamCallback для обработки содержимого FlowFile\nclass TransformSQL implements StreamCallback {\n    void process(InputStream inputStream, OutputStream outputStream) throws IOException {\n        try {\n            // Читаем содержимое FlowFile\n            def sqlQuery = inputStream.getText(StandardCharsets.UTF_8.name())\n\n            // Регулярное выражение для извлечения списка столбцов, имени таблицы, имени столбца, условий, лимита и оффсета\n            def pattern = Pattern.compile(/SELECT (.+?) FROM (\\w+) WHERE (\\w+) <= (\\d+) ORDER BY \\3 LIMIT (\\d+)(?:\\s+OFFSET\\s+(\\d+))?/)\n            def matcher = pattern.matcher(sqlQuery)\n\n            if (matcher.find()) {\n                def columns = matcher.group(1).trim() // Список столбцов (например, * или id, name, age)\n                def tableName = matcher.group(2) // Имя таблицы\n                def columnName = matcher.group(3) // Имя столбца (например, id)\n                def maxId = matcher.group(4) // Верхнее значение для столбца\n                def limit = matcher.group(5) // Лимит\n                def offset = matcher.group(6) // Оффсет (может быть null, если OFFSET отсутствует)\n\n                // Формируем новый SQL-запрос\n                def newSqlQuery\n                if (offset != null && offset.toInteger() > 0) {\n                    // Если OFFSET указан и > 0, добавляем условие id > offset\n                    newSqlQuery = \"SELECT ${columns} FROM ${tableName} WHERE ${columnName} > ${offset} AND ${columnName} <= ${maxId} ORDER BY ${columnName} LIMIT ${limit};\"\n                } else {\n                    // Если OFFSET отсутствует или равен 0, не добавляем условие id > offset\n                    newSqlQuery = \"SELECT ${columns} FROM ${tableName} WHERE ${columnName} <= ${maxId} ORDER BY ${columnName} LIMIT ${limit};\"\n                }\n\n                // Записываем результат обратно в FlowFile\n                outputStream.write(newSqlQuery.getBytes(StandardCharsets.UTF_8))\n            } else {\n                throw new RuntimeException(\"Не удалось распарсить SQL-запрос\")\n            }\n        } catch (Exception e) {\n            throw new RuntimeException(\"Ошибка при обработке SQL-запроса: ${e.message}\", e)\n        }\n    }\n}\n\n// Получаем текущий FlowFile\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Применяем StreamCallback для обработки FlowFile\n    flowFile = session.write(flowFile, new TransformSQL())\n\n    // Перенаправляем FlowFile в успешный выход\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    // Логируем ошибку и перенаправляем FlowFile в неудачный выход\n    log.error(\"Ошибка при обработке FlowFile: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"},{"identifier":"e16be24a-8853-31ad-b720-88348559a3ee","instanceIdentifier":"483dd792-0194-1000-97b3-2ddf1884dc94","name":"ExecuteSQL","comments":"","position":{"x":192.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"0488855f-c8a2-364e-b565-a03dbb2a2733","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6c0c748c-644c-36d7-aee7-638fd12bb07b","instanceIdentifier":"483e41ad-0194-1000-4823-5ab262f32dea","name":"","source":{"id":"e16be24a-8853-31ad-b720-88348559a3ee","type":"PROCESSOR","groupId":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","name":"ExecuteSQL","comments":"","instanceIdentifier":"483dd792-0194-1000-97b3-2ddf1884dc94"},"destination":{"id":"28e620fc-3327-3548-8fa7-84ce710429ce","type":"FUNNEL","groupId":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","name":"Funnel","comments":"","instanceIdentifier":"483e3128-0194-1000-3baf-0504f5a74414"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"},{"identifier":"f216350f-1bb5-3c7e-af2d-00c8a8e82786","instanceIdentifier":"48582bb7-0194-1000-ef97-3c185dcbb6a1","name":"","source":{"id":"abb8ea22-5869-3762-bf7b-31db28b18407","type":"PROCESSOR","groupId":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"4857d31f-0194-1000-f73d-20a5cd61da02"},"destination":{"id":"e16be24a-8853-31ad-b720-88348559a3ee","type":"PROCESSOR","groupId":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","name":"ExecuteSQL","comments":"","instanceIdentifier":"483dd792-0194-1000-97b3-2ddf1884dc94"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":680.0,"y":-192.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"},{"identifier":"034ad645-4917-3672-9241-59f4f655f059","instanceIdentifier":"48024a09-0194-1000-e3e1-f3a78a1e2ffb","name":"","source":{"id":"0c91c416-ff25-3f02-913d-324e7042d9a1","type":"PROCESSOR","groupId":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","name":"QueryDatabaseTable","comments":"","instanceIdentifier":"47fc7138-0194-1000-6674-1fcdf8d32a09"},"destination":{"id":"fba84274-7bb8-3efc-bada-9cf436fd4f2a","type":"FUNNEL","groupId":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","name":"Funnel","comments":"","instanceIdentifier":"48023ded-0194-1000-8650-e41bd936deee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"},{"identifier":"ac6c1452-63c1-359b-a853-8719679a138b","instanceIdentifier":"48761395-0194-1000-c7d5-7344901f0edf","name":"","source":{"id":"e16be24a-8853-31ad-b720-88348559a3ee","type":"PROCESSOR","groupId":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","name":"ExecuteSQL","comments":"","instanceIdentifier":"483dd792-0194-1000-97b3-2ddf1884dc94"},"destination":{"id":"c0b16fe1-7606-38f6-8d72-842d275899e2","type":"FUNNEL","groupId":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","name":"Funnel","comments":"","instanceIdentifier":"4838844f-0194-1000-9b93-1a6c103953e9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"},{"identifier":"7dcf35a0-dcb7-3de6-aaad-a1e5bd0bbbbe","instanceIdentifier":"483895d6-0194-1000-599e-5a34bc386ca5","name":"","source":{"id":"b107cc1a-c8a0-3054-ad4f-1dac46f26e26","type":"PROCESSOR","groupId":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","name":"GenerateTableFetch","comments":"","instanceIdentifier":"4836c737-0194-1000-0b0a-fcf5072e9574"},"destination":{"id":"abb8ea22-5869-3762-bf7b-31db28b18407","type":"PROCESSOR","groupId":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"4857d31f-0194-1000-f73d-20a5cd61da02"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":680.0,"y":-320.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"}],"labels":[],"funnels":[{"identifier":"28e620fc-3327-3548-8fa7-84ce710429ce","instanceIdentifier":"483e3128-0194-1000-3baf-0504f5a74414","position":{"x":824.0,"y":-144.0},"componentType":"FUNNEL","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"},{"identifier":"c0b16fe1-7606-38f6-8d72-842d275899e2","instanceIdentifier":"4838844f-0194-1000-9b93-1a6c103953e9","position":{"x":344.0,"y":16.0},"componentType":"FUNNEL","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"},{"identifier":"fba84274-7bb8-3efc-bada-9cf436fd4f2a","instanceIdentifier":"48023ded-0194-1000-8650-e41bd936deee","position":{"x":-112.0,"y":-176.0},"componentType":"FUNNEL","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"}],"controllerServices":[{"identifier":"0488855f-c8a2-364e-b565-a03dbb2a2733","instanceIdentifier":"47feca4c-0194-1000-bcaa-2214bd63e0c0","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.1.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"./extensions/postgresql-42.7.4.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"},{"identifier":"0231a922-cf17-388a-92ad-62d8618a1551","instanceIdentifier":"481302e4-0194-1000-9ac9-3a2972f06421","name":"MapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.MapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.1.0"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"maximum-read-size":"1 MB","Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bc401838-3e7d-3dd4-9dd9-cfd9b9e34644"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}