Basics/Lesson15/lesson15.json
{"flowContents":{"identifier":"5bab09b5-90b2-3af2-b4bf-4e6634a0a02d","instanceIdentifier":"e5821376-0194-1000-6241-e142cb92af50","name":"lesson15","comments":"MockScript","position":{"x":816.0,"y":32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f90fe477-65d5-3cbe-8887-2a04e41f2e2c","instanceIdentifier":"e582add2-0194-1000-5121-1825bb079081","name":"ReplaceText","comments":"","position":{"x":-240.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"${entryDate}\n${lineageStartDate}\n${fileSize}\n${filename}\n${path}\n${uuid}\n","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5bab09b5-90b2-3af2-b4bf-4e6634a0a02d"},{"identifier":"5d342a89-891e-35c4-9612-b5a93f40939f","instanceIdentifier":"e582846f-0194-1000-495f-ed66ffb9867e","name":"GenerateFlowFile","comments":"","position":{"x":-240.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5bab09b5-90b2-3af2-b4bf-4e6634a0a02d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"19180013-5fa6-3ee4-b37a-d6e45143a58e","instanceIdentifier":"e583eeb7-0194-1000-980b-e851cf1699f6","name":"","source":{"id":"f90fe477-65d5-3cbe-8887-2a04e41f2e2c","type":"PROCESSOR","groupId":"5bab09b5-90b2-3af2-b4bf-4e6634a0a02d","name":"ReplaceText","comments":"","instanceIdentifier":"e582add2-0194-1000-5121-1825bb079081"},"destination":{"id":"330175b9-1f63-3035-ab0e-64c0e7494c9f","type":"FUNNEL","groupId":"5bab09b5-90b2-3af2-b4bf-4e6634a0a02d","name":"Funnel","comments":"","instanceIdentifier":"e583e0db-0194-1000-f730-a4280b36de5d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5bab09b5-90b2-3af2-b4bf-4e6634a0a02d"},{"identifier":"17a146c6-ac6e-3dce-b404-3844675a3acc","instanceIdentifier":"e582b971-0194-1000-d7f1-73f52c98c58d","name":"","source":{"id":"5d342a89-891e-35c4-9612-b5a93f40939f","type":"PROCESSOR","groupId":"5bab09b5-90b2-3af2-b4bf-4e6634a0a02d","name":"GenerateFlowFile","comments":"","instanceIdentifier":"e582846f-0194-1000-495f-ed66ffb9867e"},"destination":{"id":"f90fe477-65d5-3cbe-8887-2a04e41f2e2c","type":"PROCESSOR","groupId":"5bab09b5-90b2-3af2-b4bf-4e6634a0a02d","name":"ReplaceText","comments":"","instanceIdentifier":"e582add2-0194-1000-5121-1825bb079081"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5bab09b5-90b2-3af2-b4bf-4e6634a0a02d"}],"labels":[],"funnels":[{"identifier":"330175b9-1f63-3035-ab0e-64c0e7494c9f","instanceIdentifier":"e583e0db-0194-1000-f730-a4280b36de5d","position":{"x":-151.99998824991644,"y":176.99999399440168},"componentType":"FUNNEL","groupIdentifier":"5bab09b5-90b2-3af2-b4bf-4e6634a0a02d"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}